

	/* font-family: policeA, policeB, policeC, DEFAULT(sans-serif, serif); serif = time new roman, sans-serif = arial*/

	/* font-family: "Sofia", sans-serif;        */ 
	/* font-family: "Trirong", serif;           */
	/* font-family: "Audiowide", sans-serif;    */

	/* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Sofia|Trirong|Audiowide">

	h1.a {font-family: "Audiowide", sans-serif;}
	h1.b {font-family: "Sofia", sans-serif;}
	h1.c {font-family: "Trirong", serif;}

	*/

	/* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&effect=fire|neon|outline|emboss|shadow-multiple">  

	<h1 class="font-effect-neon">Neon Effect</h1>
	<h1 class="font-effect-outline">Outline Effect</h1>
	<h1 class="font-effect-emboss">Emboss Effect</h1>
	<h1 class="font-effect-shadow-multiple">Multiple Shadow Effect</h1>

	*/

	/*
		Positionnement absolu : 
		-->  mettre a n<importe quel endroit (mettre au dessus). Lors qu<on definit une POSITION ABSOLUE pour notre 
			barre de navigation <nav qui est par defaut un BLOCK>, il passe au dessus de tous les autres elements, peu importe les elements.
			Du coup, il n<est pas tout le temps utilise, a part dans ces cas particuliers.

		Poritionnement fixe :
		-->  mettre a un endroit FIXE SUR L<ECRAN EN TOUT LE TEMPS. Pratique pour les session d<entetes ET menus de navigation <nav></nav> qu<on veut garder devant son ECRAN.

		Positionnement relatif :
		-->  permet de d/caller l,/l/ment par rapport 'a sa position (par rapport 'a son parent).
	*/


/*   https://studiodivo.fr/portfolio_page/boutique-magasin-bio/  
*/

/*----------------------------------------------*/
/*           STYLE POUR MOBILE                  */
/*----------------------------------------------*/

/*
	header
	{
		display : inline-block;
		border : 1px solid red;
		width : 100%;
		margin-bottom : 10px;
	}
*/
	/*.boite_mot_de_passe
	{
		border : 1px black solid;
		border-radius : 10px;
		width : 700px;
		margin-top : 50px;
		margin-bottom : 150px;
		margin : auto; 
		font-size : 16px;
		padding : 20px;
		box-shadow : 4px 4px 4px rgba(180, 180, 180, 1);
		background-color: rgba(230, 230, 230, 1);
	}*/

	*   /* selecteur universel */               /* ce truc sert à éviter les decallages de padding ou margin par defaut existant sur certaines balises */
	{
		box-sizing : border-box;
	}

	#messageWeb
	{
		width : 125px;
		height : 25px;
		margin : 10px;
	}

	#Soumettre
	{
		width : 125px;
		height : 25px;
		margin : 10px;
	}

	#messageErreur                           
	{
		color : red;
		font-weight : bold;
		font-size : 12px;
		margin : auto;
		margin-top : -5px;
		margin-bottom : 10px;
		display : inline-block;
		visibility : hidden;
	}

	#OK                                      
	{
		visibility : hidden;
	}

	*   /* selecteur universel */               /* ce truc sert à éviter les decallages de padding ou margin par defaut existant sur certaines balises */
	{
		box-sizing : border-box;
	}

	a:hover
	{
		color : green;
		font-weight : bold;
	}

	body
	{
		font-family : Trirong, Poppins, Sans-cherif;
		font-size : 14px; 
		/*background-image : linear-gradient(rgba(255, 247, 0, 0.8),rgb(50, 74, 234));*/
		background-image: url("../img/background_image/background_image_4.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	header
	{
		width : 100%;
		display : inline-block;
		margin-bottom : 10px;
		border : 3px solid blue;
		border-radius : 10px;
	}

	

	.oublie
	{
		text-align : center;
		width : 75%;
		margin : auto;
	}

	.vos_impressions
	{
		text-align : center;
	}

	.sous_section
	{
		text-align : center;
		/*background-color: purple;*/
		margin : auto;
		font-family : Audiowide;
		width : 60%;
		margin : auto;
		text-shadow : 4px 4px 4px white;
	}

	.limite-video
	{
		/*display : inline-block;*/
		/*margin-left : 20%;
		margin-right : 20%;*/
		/*overflow : auto;*/
		/*text-align : center;*/
	}

	.cadre_video
	{
		margin-bottom : 40px;
		width : 100%;
		height : 350px;
	}
	
	iframe
	{
		width : 100%;
		height : 100%;
		margin-top: 10px;
		margin-bottom:10px;
		border-radius : 10px;
	}

	.text-service-aide
	{
		display : inline-block;
		border-radius : 10px;
		border : 1px solid blue;
		width : 100%;
		margin-right : 40%;
		padding : 5%;
		background-color: white;
		white-space : initial;
				
		/*display : inline-block;
		border-radius : 10px;
		width : 50%;
		margin-left : 20%;
		margin-right : 20%;
		padding : 5%;
		background-color: white;
		border : 1px solid yellow;
		white-space : initial;*/
	}

	h2
	{
		/*margin-bottom : 0;*/
		font-family : Audiowide;
		text-align : center;
		width : 80%;
		margin : auto;
		border-bottom : 1px black solid; 
		text-shadow : 4px 4px 4px white;
	}

	nav
	{
		text-align : center; 
		background : white;
		box-shadow : 4px 4px 20px white;  /*Remarque : Je n<ai pas eu besoin de definir l<attribut BORDER*/
		border-radius : 10px;
		width : 60%;
		margin : auto;
	}

	ul
	{
		padding : 0;  /*Dans un ul, le padding des li est decalle par deffault. Donc je dois le mettre a 0 pour avoir le controle ABSOLU sur la position. */
	}

	nav ul li
	{
		/*font-size : 35px;*/
		list-style-type : none;
		margin-left : 20px;
		margin-right : 20px;
		/* display : block; */ /* par defaut, les li sont des display BLOCK. On les change donc pour les mettre INLINE */
		/* REMARQUE TRES IMPORTANTE : un composant BLOCK peut avoir une HEIGHT et une WIDTH 
										mais un composant INLINE n'a NI HEIGHT NI WIDTH 
										
										SOLUTION : INLINE-BLOCK rassemble le meilleur des 2 mondes : INLINE et BLOCK
										DISPLAY : none   (permet de faire DISPATRAITRE un éléments, pour faire un éffet JavaScript)
										
									*/
	}

	footer
	{
		position : fixed;
		/*margin-top : 20px;
		clear : both;*/
		left : 10px;    
		right : 10px;
		bottom : 10px;
		
		background : black;
		text-align : center;
		height : 70px;
		color : rgba(255, 255, 255, 0.5);

	}

	/*--------------------------------------------------------------------*/
	/*                          STYLE POUR ORDINATEUR PC                  */
	/*--------------------------------------------------------------------*/

	@media only screen and (min-width : 700px) {

		*   /* selecteur universel */               /* ce truc sert à éviter les decallages de padding ou margin par defaut existant sur certaines balises */
		{
			box-sizing : border-box;
		}

		a:hover
		{
			color : green;
			font-weight : bold;
		}

		/*body
		{
			font-family : Trirong, Poppins, Sans-cherif;
			font-size : 14px; 
			background-image : linear-gradient(rgba(255, 247, 0, 0.8),rgb(50, 74, 234));
			background-repeat : no-repeat;
  			background-size : 100% 100%;
		}*/
		
		header
		{
			width : 100%;
			display : inline-block;
			margin-bottom : 10px;
			border : 1px solid black;
			border-radius: 20px;
			border-radius : 20px;
		}

		.oublie
		{
			text-align : center;
			width : 75%;
			margin : auto;
		}

		.vos_impressions
		{
			text-align : center;
		}

		.sous_section
		{
			text-align : center;
			/*background-color: purple;*/
			margin : auto;
			width : 60%;
			margin-bottom: 10px;
			text-shadow: 4px 4px 4px white;
		}

		.limite-video
		{
			/*display : flex;
			flex-direction : column;
			justify-content : space-around;*/
		}

		.cadre_video
		{
			margin : auto;
			margin-top : 40px;
			margin-bottom : 40px;
			width : 60%;
			height : 500px;
		}

		.text-service-aide
		{
			display : inline-block;
			margin : auto;
			width : 60%;
			margin-left : 20%;
			margin-right : 20%;
			padding : 5%;
			white-space : initial;
			/*background-color: rgba();*/
		}

		.cadre_video_interieur-text-service-aide
		{
			margin : auto;
			margin-top : 10px;
			margin-bottom : 10px;
			width : 100%;
			height : 425px;
			border-radius : 10px;
		}

		.flex_cadre_video_interieur-text-service-aide 
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			background-color: DodgerBlue;
			border-radius: 5px;
		}
		  
		.flex_cadre_video_interieur-text-service-aide > .cadre_video_2 
		{
			background-color: #f1f1f1;
			width: 360px;
			height : 240px;
			margin: 5px;
			text-align: center;
			line-height: 75px;
			font-size: 30px;
			border-radius: 5px;
		}

		.flex_cadre_video_interieur-text-service-aide > .cadre_video_3 
		{
			background-color: #f1f1f1;
			width: 235px;
			height : 160px;
			margin: 5px;
			text-align: center;
			line-height: 75px;
			font-size: 30px;
			border-radius: 5px;
		}

		.flex_cadre_video_interieur-text-service-aide > .cadre_video_1 
		{
			background-color: #f1f1f1;
			width: 100%;
			height : 425px;
			margin: 5px;
			text-align: center;
			line-height: 75px;
			font-size: 30px;
			border-radius: 5px;
		}
		
		iframe
		{
			width : 100%;
			height : 100%;
			border-radius: 5px;
		}

		img
		{
			width : 100%;
			height : 100%;
			border-radius: 5px;
		}

		h2
		{
			/*margin-bottom : 0;*/
			font-family : Audiowide;
			text-align : center;
			width : 60%;
			margin : auto;
			border-bottom : 1px black solid; 
			text-shadow : 4px 4px 4px white;
		}

		/*figure
		{
			float : right;
		}

		figcaption
		{
			font-size : 10px;
		}*/

		nav
		{
			text-align : center; 
			background-color : rgba();
			box-shadow : 4px 4px 20px white;  /*Remarque : Je n<ai pas eu besoin de definir l<attribut BORDER*/
			border-radius : 10px;
			width : 60%;
			margin : auto;
		}

		ul
		{
			padding : 0;  /*Dans un ul, le padding des li est decalle par deffault. Donc je dois le mettre a 0 pour avoir le controle ABSOLU sur la position. */
		}

		nav ul li
		{
			/*font-size : 35px;*/
			list-style-type : none;
			margin-left : 20px;
			margin-right : 20px;
			display : inline;  /* par defaut, les li sont des display BLOCK. On les change donc pour les mettre INLINE */
							/* REMARQUE TRES IMPORTANTE : un composant BLOCK peut avoir une HEIGHT et une WIDTH 
															mais un composant INLINE n'a NI HEIGHT NI WIDTH 
															
															SOLUTION : INLINE-BLOCK rassemble le meilleur des 2 mondes : INLINE et BLOCK
															DISPLAY : none   (permet de faire DISPATRAITRE un éléments, pour faire un éffet JavaScript)
															
															*/
		}
		/*
		.boite_mot_de_passe
		{
			border : 1px black solid;
			border-radius : 10px;
			width : 700px;
			margin-top : 50px;
			margin-bottom : 150px;
			margin : auto; 
			font-size : 16px;
			padding : 20px;
			box-shadow : 4px 4px 4px rgba(180, 180, 180, 1);
			background-color: rgba(230, 230, 230, 1);
		}
		*/
		.presentation
		{
			width : 75%;
			text-decoration : bold;
			margin-top : 80px; /* POURQUOI EST-CE QUE mon MARGIN-TOP ici a une influence sur mon <header> lorsque le <header> est position FIXED ?? */
			margin-bottom : 80px; 
		}

		.conteneur
		{
			width : 75%;
			margin : auto;
			padding : 50px;
			display : flex;
			justify-content : space-around;
		}

		.element
		{
			font-size : 12px;
			padding-top : 20px;
			border : 1px black solid;
			border-radius : 10px;
			box-shadow : 4px 4px 4px rgba(180, 180, 180, 1);
			width : 200pX;
			background-color: rgba(230, 230, 230, 1);     /* margin-bottom : 150px;      */ /* Remarque : contrairement a la Balise P, la balise Section n'a PAS de margin par default. Sio on veut donc decaller une section, il faut definir une marge */
		}

		.background-cadre-contact
		{
			width : 50%;
			margin : auto;
			margin-bottom : 40px;
		}

		.cadre-contact
		{
			font-size : 12px;
			border : 1px black solid;
			border-radius : 10px;
			box-shadow : 4px 4px 4px purple;
			width : 200px;
			margin : 50px 50px 50px 50px ;   /* Comment je fais pour mieux centrer les cadre-contacts ? */
			display : inline-block;          /* la reunion du meilleur des 2 mondes */
			background-color: rgb(211, 190, 211);     /* margin-bottom : 150px;      */ /* Remarque : contrairement a la Balise P, la balise Section n'a PAS de margin par default. Sio on veut donc decaller une section, il faut definir une marge */
		}

		.cadre-contact h3, .cadre-contact span /* LES 2 SPAN NE SE CENTRENT PAS */
		{
			text-align : center;
		}

		footer
		{
			position : fixed;
			left : 10px;    
			right : 10px;
			bottom : 10px;
			background : black;
			text-align : center;
			height : 40px;
			color : rgba(255, 255, 255, 0.5);
		}




		/* Menu M. Fredy */
		.navbar
		{
			overflow: hidden;
			/*background-color: rgba();*/
			width : 30%;
			margin : auto;
		}
		  
		.navbar a 
		{
			float: left;
			font-size: 16px;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			
		}
		  
		.dropdown 
		{
			float: left;
			overflow: hidden;
		}
		
		.dropdown .dropbtn 
		{
			font-size: 16px;  
			border: none;
			outline: none;
			color: white;
			padding: 14px 16px;
			background-color: inherit;
			font-family: inherit;
			margin: 0;
		}
		
		.navbar a:hover, .dropdown:hover .dropbtn 
		{
			background-color: blue;
		}
		
		.dropdown-content 
		{
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
		}
		
		.dropdown-content a 
		{
			float: none;
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			text-align: left;
		}
		
		.dropdown-content a:hover 
		{
			background-color: #ddd;
		}
		
		.dropdown:hover .dropdown-content 
		{
			display: block;
		}
	}