
__pycache__/
*.pyc
.venv/
.env
archives/*


uploads/
.vscode/
*.sqlite3


*.pyc
*.db
.git
.DS_Store


Google_Analytics.txt
manifest.json


temoignages.txt
evenements_a_venir.txt


ChatIA_Base_Boucle.py
ChatIA_Base.py
ore_mi.db
