{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section"> GÉNÉRALITÉS </p>
        <div class="text-service-aide">
            La <a href="https://fr.wikipedia.org/wiki/Liste_des_associations_%C3%A9tudiantes_universitaires_du_Qu%C3%A9bec">liste</a> des associations étudiantes du Québec ( selon Wiki ). <br> 
            L' <a href="https://www.acae-casa.com/">alliance Canadienne</a> des associations étudiantes. <br>
            L' <a href="https://unionetudiante.ca/#:~:text=L'Union%20%C3%A9tudiante%20du%20Qu%C3%A9bec,v%C3%A9cus%20par%20la%20population%20%C3%A9tudiante.">union étudiante</a> du Québec. <br>
        <!--
            À cela il faut ajouter le lien que j'ai vu la dernière fois, car il est TRES TRES pertinent.
        --> 
        </div><br><br>
        
        <p class="sous_section"> LES ASSOCIATIONS ÉTUDIANTES ET LEURS AVANTAGES </p>
        <div class="text-service-aide">
            Exemple de l'UQAM
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/q51ICPZkq2g?si=hkUv_5bpECxKWdHM"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>              
        </div><br><br><br>

{% endblock %}

        
        
	