{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section"> GÉNÉRALITÉ POUR LE BÉNÉVOLAT AU QUÉBEC </p>
        <div class="text-service-aide">
            Un Répertoire des centres d'action Bénévoles du Canada : <a href="https://benevoles.ca/repertoire-de-centres-daction-benevole/">Volunteer Canada</a>. <br><br>

            Trouvez des occasions de bénévolat correspondant à vos intérêts et compétences, et aidez les organismes à trouver des bénévoles 
            motivés grâce à cette <a href="https://www.jebenevole.ca/">plateforme de bénévolat</a>. <br><br>
            
            Je veux faire du bénévolat. Où faire du bénévolat ? Réseau de l'action bénévole du Québec <a href="https://www.rabq.ca/ou-faire-du-benevolat.php">( RABQ )</a>. <br><br>
            
            La maison <a href="https://michel-sarrazin.ca/a-propos-du-centre">Michel Sarrazin</a> est un centre de bénévolat situé dans 
            la ville de Québec.<br>

        </div><br><br>
        
        <p class="sous_section"> LE BÉNÉVOLAT ET SES AVANTAGES </p>
        <div class="text-service-aide">
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/tIAZeHg4UbA?si=V5wQtSw4U1qNYJpy"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br> 
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/DOxhQJRc9IE?si=yS3MUVID0mGN-B2T"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/V83yggc6E1U?si=uszYpG_565EwbNKL"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/w-OQh_N0RYs?si=nnB7dB-7meJpVKhL"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div><br><br><br>

{% endblock %}

        
        