{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section"> CATALOGUE DES BIBLIOTHÈQUES DU QUÉBEC </p>
		<div class="text-service-aide">
            Voici pour vous, un catalogue de l'ensemble des bibliothèques du Québec. Vous pouvez faire un filtre par région,
            et aller jusqu'à votre ville d'intérêt. C'est un <a href="https://cbq.banq.qc.ca/cbq/f?p=404:4:::::">catalogue accéssible</a> dans les 2 langues officielles. <br><br>
            
            Voici aussi pour votre régal, les Bibliothèque et Archives Nationales du Québec, communément appelées <a href="https://www.banq.qc.ca/visiter-les-centres-des-archives-nationales/">BANQ</a>. 
            Vous y trouverez leurs adresses et horaires. <br><br>
            
            Voici enfin l'Association des Bibliothèques Publiques du Québec ( <a href="https://www.abpq.ca/communiques/Communique_2017-05-01_ABPQ_Nomination_Chantal_Brodeur_CA_2017-2018.php">ABPQ</a> ). <br><br>
            <div class="flex_cadre_video_interieur-text-service-aide">
                <div class="cadre_video_3"><a href="https://cbq.banq.qc.ca/cbq/f?p=404:4:::::">
                    <img src="img\bibliotheque\catalogue_biblio_quebec.jpeg" title="Catalogue des Bibliothèques du Québec"/></a>
                </div>
                <div class="cadre_video_3"><a href="https://www.banq.qc.ca/visiter-les-centres-des-archives-nationales/">
                    <img src="img\bibliotheque\logo_banq.png" title="BANQ"/></a>
                </div>
                <div class="cadre_video_3"><a href="https://www.abpq.ca/communiques/Communique_2017-05-01_ABPQ_Nomination_Chantal_Brodeur_CA_2017-2018.php">
                    <img src="img\bibliotheque\biblio_quebec_1.png" title="Association des Bibliothèques Publiques du Québec"/></a>
                </div>   
			</div>

		</div><br><br>

        <p class="sous_section"> BIBIOTHÈQUES DE LA RÉGION DU SAGUENAY (02) ET DU NORD DU QUÉBEC (10)</p>
		<div class="text-service-aide">  
			<b> Bibliothèques du Saguenay-Lac Saint Jean </b> <br>
			Nous vous avions répertorié 2 grandes sources, dont le Réseau des Bibiothèques du SLSJ, l'Association des Bibliothèques 
            publiques du SLSJ ( ou vous pourrez d'ailleurs interagir avec la communauté sur Facebook ), ainsi qu'un aperçu Google Map. <br><br>
			
			<div class="flex_cadre_video_interieur-text-service-aide">
                <div class="cadre_video_3"><a href="https://www.reseaubiblioslsj.qc.ca/">
                    <img src="img\bibliotheque\bibio_saguenay_1.jpeg" title="Réseau des Bibliotheques du Saguenay Lac St-Jean"/></a>
                </div>
                <div class="cadre_video_3"><a href="https://www.facebook.com/abpslsj/">
                    <img src="img\bibliotheque\biblio_saguenay_2.png" title="Association des Bibliotheques publiques du Saguenay-Lac St-Jean"/></a>
                </div>
				<div class="cadre_video_3"><a href="https://www.google.com/search?sca_esv=9ff398091a4fafc2&rlz=1C1ONGR_frCA1020CA1020&tbs=lf:1,lf_ui:1&tbm=lcl&q=les+biblioth%C3%A8ques+saguenay&rflfq=1&num=10&sa=X&ved=2ahUKEwj6mJu-zOaHAxV5EWIAHRaaJ5sQjGp6BAgtEAE&biw=1925&bih=922&dpr=0.94#rlfi=hd:;si:8332951993110391773,l,ChtsZXMgYmlibGlvdGjDqHF1ZXMgc2FndWVuYXlI9JWK0-WAgIAIWicQABgAIhdiaWJsaW90aMOocXVlcyBzYWd1ZW5heSoECAMQADICZnKSAQdsaWJyYXJ5mgEjQ2haRFNVaE5NRzluUzBWSlEwRm5TVU4xTFZCeWFGTkJFQUWqAVgKCC9tLzA0aDhoEAEqDCIIc2FndWVuYXkoBDIfEAEiG-3n6D4t3K-gmf5Dfkwx0ilhYbewep4HS-ZvUjIbEAIiF2JpYmxpb3Row6hxdWVzIHNhZ3VlbmF5,y,zNyE6KHHONo;mv:[[48.434201825927,-70.81056020245956],[48.25667359715361,-71.32726094708848]]">
                    <img src="img\reseau_biblio_google_map.jpeg" title="Vue Google Map de l'ensemble des Bibliothèques de la région"/></a>
                </div> 
			</div>
		</div><br><br>

        <p class="sous_section"> BIBLIOTHÈQUES DE LA RÉGION DU BAS-SAINT-LAURENT (01) ET GASPÉSIE–ÎLES-DE-LA-MADELEINE (11)</p>
        <div class="text-service-aide">  
			<b> Bibliothèques du Bas Saint-Laurent et de la Gaspésie </b> <br>
			Nous vous avions répertorié 2 grandes sources, dont le Réseau des Bibiothèques du SLSJ, l'Association des Bibliothèques 
            publiques du SLSJ ( ou vous pourrez d'ailleurs interagir avec la communauté sur Facebook ), ainsi qu'un aperçu Google Map. <br><br>
			
			<div class="flex_cadre_video_interieur-text-service-aide">
                <div class="cadre_video_3"><a href="https://reseaubibliobsl.pretnumerique.ca/home">
                    <img src="img\bibliotheque\biblio_bas_st_laurent.jpeg" title="Réseau des Bibliotheques du Bas Saint-Laurent"/></a>
                </div>
                <div class="cadre_video_3"><a href="https://www.reseaubibliogim.qc.ca/fr/qui-sommes-nous/historique">
                    <img src="img\bibliotheque\biblio_gaspesie_ile_madeleine.jpeg" title="Réseau des Bibliotheques de la gaspésie et les iles de la madeleine"/></a>
                </div>
				<div class="cadre_video_3"><a href="https://www.google.com/maps/search/bibliotheques+de+la+gaspesie+et+des+iles+de+la+madeleine/@46.7833799,-72.1363909,7.71z?entry=ttu">
                    <img src="img\reseau_biblio_google_map.jpeg" title="Vue Google Map de l'ensemble des Bibliothèques de la région"/></a>
                </div> 
			</div>
		</div><br><br>

        <p class="sous_section"> BIBIOTHÈQUES DE LA RÉGION DE LA CAPITALE-NATIONALE (03) et CHAUDIÈRE-APPALACHES (12)</p>
        <div class="text-service-aide">  
			<b> Bibliothèques de la région de la capitale nationale </b> <br>
			Nous vous avions répertorié 2 grandes sources, dont le Réseau des Bibiothèques de la Capitale Nationale, 
            La grande Bibliothèque du Québec, ainsi qu'un aperçu Google Map. <br><br>
			
			<div class="flex_cadre_video_interieur-text-service-aide">
                <div class="cadre_video_3"><a href="https://www.reseaubibliocnca.qc.ca/client/fr_CA/default">
                    <img src="img\bibliotheque\biblio_region_capitale_1.jpeg" title="Réseau des Bibliotheques de la région de la Capitale Nationale  et Chaudière-Appalachee"/></a>
                </div>
                <div class="cadre_video_3"><a href="https://www.reseaubiblioduquebec.qc.ca/fr">
                    <img src="img\bibliotheque\biblio_region_capitale_2.jpeg" title="Réseau des Bibliothèques du Québec"/></a>
                </div>
				<div class="cadre_video_3"><a href="https://www.google.com/maps/search/bibliotheque+e+quebec/@46.9332737,-71.6061638,10z/data=!3m1!4b1?entry=ttu">
                    <img src="img\reseau_biblio_google_map.jpeg" title="Vue Google Map de l'ensemble des Bibliothèques de la région"/></a>
                </div> 
			</div>
		</div><br><br>

        <p class="sous_section"> BIBIOTHÈQUES DE LA RÉGION DE LA MAURICIE (04) ET CENTRE-DU-QUÉBEC (17)</p>
        <div class="text-service-aide">  
			<b> Bibliothèques de la région de la Mauricie </b> <br>
			Nous vous avoins répertorié 2 grandes sources, dont 2 Réseau des Bibiothèques, ainsi qu'un aperçu Google Map. <br><br>
			
			<div class="flex_cadre_video_interieur-text-service-aide">
                <div class="cadre_video_3"><a href="https://reseaubibliocqlm.qc.ca/">
                    <img src="img\bibliotheque\biblio_mauricie_1.jpeg" title="Réseau des Bibliotheques du centre du Québec, de lanuaudière et de la mauricie Saguenay Lac St-Jean"/></a>
                </div>
                <div class="cadre_video_3"><a href="https://biblietcie.ca/abonnez-vous/">
                    <img src="img\bibliotheque\biblio_mauricie_2.jpeg" title=""/></a>
                </div>
				<div class="cadre_video_3"><a href="https://www.google.com/maps/search/bibliotheques+R%C3%A9gion+de+la+Mauricie/@46.6629361,-72.9336201,12z/data=!3m1!4b1?entry=ttu">
                    <img src="img\reseau_biblio_google_map.jpeg" title="Vue Google Map de l'ensemble des Bibliothèques de la région"/></a>
                </div> 
			</div>
		</div><br><br>

        <p class="sous_section"> BIBIOTHÈQUES DE LA RÉGION DE L'ESTRIE (05)</p>
        <div class="text-service-aide">  
			<b> Bibliothèques de la région de l'Estrie </b> <br>
			Nous vous avoins répertorié 2 grandes sources, dont le Réseau des Bibiothèques de la région, 
            un lien Facebook où vous pourrez interagir avec la communauté, ainsi qu'un aperçu Google Map. <br><br>
			
			<div class="flex_cadre_video_interieur-text-service-aide">
                <div class="cadre_video_3"><a href="https://www.reseaubiblioestrie.qc.ca/fr">
                    <img src="img/bibliotheque\biblio_estrie_1.jpeg" title="Réseau des Bibliotheques du Saguenay Lac St-Jean"/></a>
                </div>
                <div class="cadre_video_3"><a href="https://www.facebook.com/rbestrie/?locale=fr_CA">
                    <img src="img/bibliotheque\biblio_estrie_2.jpeg" title="Association des Bibliotheques publiques du Saguenay-Lac St-Jean"/></a>
                </div>
				<div class="cadre_video_3"><a href="https://www.google.com/maps/search/bibliotheques+region+de+l'estrie/@46.3223924,-74.0988216,8z?entry=ttu">
                    <img src="img/reseau_biblio_google_map.jpeg" title="Vue Google Map de l'ensemble des Bibliothèques de la région"/></a>
                </div> 
			</div>
		</div><br><br>

        <p class="sous_section"> BIBIOTHÈQUES DE LA RÉGION DE MONTRÉAL (06), LAVAL (13), LANAUDIÈRE (14), LAURENTIDES (15) et MONTÉRÉGIE (16)</p>
        <div class="text-service-aide">  
			<b> Bibliothèques de la région de Montréal, Laval, lanaudière </b> <br>
			Nous vous avons répertorié 2 grandes sources, dont un ensemble 9 Bibliothèques de la Ville de Montréal, 
            ainsi que le site BANQ et un aperçu Google Map. <br><br>
			
			<div class="flex_cadre_video_interieur-text-service-aide">
                <div class="cadre_video_3"><a href="https://www.mtl.org/fr/experience/bibliotheques-montreal">
                    <img src="img/bibliotheque\biblio_montreal_1.jpeg" title="9 Bibliothèques de Montréal"/></a>
                </div>
                <div class="cadre_video_3"><a href="https://www.banq.qc.ca/grande-bibliotheque/">
                    <img src="img/bibliotheque\biblio_montreal_2.jpeg" title="BANQ"/></a>
                </div>
				<div class="cadre_video_3"><a href="https://www.google.com/maps/search/bibliotheques+region+montreal+laval+lanaudi%C3%A8re+leurentides+mont%C3%A9r%C3%A9gie/@45.5614054,-73.8882012,11z/data=!3m1!4b1?entry=ttu">
                    <img src="img/reseau_biblio_google_map.jpeg" title="Vue Google Map de l'ensemble des Bibliothèques de la région"/></a>
                </div> 
			</div>
		</div><br><br>

        <p class="sous_section"> BIBIOTHÈQUES DE LA RÉGION DE L'OUTAOUAIS (07)</p>
        <div class="text-service-aide">  
			<b> Bibliothèques de la région de l'OUtaouais </b> <br>
			Nous vous avoins répertorié 2 grandes sources, dont le Réseau des Bibiothèques de la région, 
            ainsi qu'un lien Facebook, où vous pourrez d'ailleurs interagir avec la communauté, ainsi qu'un aperçu Google Map. <br><br>
			
			<div class="flex_cadre_video_interieur-text-service-aide">
                <div class="cadre_video_3"><a href="https://www.reseaubibliooutaouais.qc.ca/fr">
                    <img src="img/bibliotheque\biblio_outaouais_1.jpeg" title="Réseau des Bibliotheques du Saguenay Lac St-Jean"/></a>
                </div>
                <div class="cadre_video_3"><a href="https://www.facebook.com/photo.php?fbid=760295062914918&id=100068032943166&set=a.409473391330422">
                    <img src="img/bibliotheque\biblio_outaouais_2.jpeg" title="Association des Bibliotheques publiques du Saguenay-Lac St-Jean"/></a>
                </div>
				<div class="cadre_video_3"><a href="https://www.google.com/maps/search/bibliotheques+region+outaouais/@45.4939457,-75.7876995,11z/data=!3m1!4b1?entry=ttu">
                    <img src="img/reseau_biblio_google_map.jpeg" title="Vue Google Map de l'ensemble des Bibliothèques de la région"/></a>
                </div> 
			</div>
		</div><br><br>

        <p class="sous_section"> BIBIOTHÈQUES DE LA RÉGION DE L'ABITIBI-TIMESCAMINGUE (08)</p>
        <div class="text-service-aide">  
			<b> Bibliothèques de l'Abitibi-Timescamingue </b> <br>
			Nous vous avoins répertorié 2 grandes sources, dont le Réseau des Bibiothèques, un lien facebook pour la comunauté, ainsi qu'un aperçu Google Map. <br><br>
			
			<div class="flex_cadre_video_interieur-text-service-aide">
                <div class="cadre_video_3"><a href="https://www.reseaubiblioatnq.qc.ca/">
                    <img src="img\bibliotheque\biblio_abitibi_timescamingue_1.jpeg" title="Réseau des Bibliotheques du Saguenay Lac St-Jean"/></a>
                </div>
                <div class="cadre_video_3"><a href="https://www.facebook.com/rbatnq/?locale=fr_CA">
                    <img src="img\bibliotheque\biblio_abitibi_timescamingue_2.jpeg" title="Association des Bibliotheques publiques du Saguenay-Lac St-Jean"/></a>
                </div>
				<div class="cadre_video_3"><a href="https://www.google.com/maps/search/bibliotheque+de+la+region+de+l'abitibi-temiscaming/@48.1574634,-79.6527762,8z/data=!3m1!4b1?entry=ttu">
                    <img src="img\reseau_biblio_google_map.jpeg" title="Vue Google Map de l'ensemble des Bibliothèques de la région"/></a>
                </div> 
			</div>
		</div><br><br>

        <p class="sous_section"> BIBIOTHÈQUES DE LA RÉGION DE LA CÔTE-NORD (09)</p>
        <div class="text-service-aide">  
			<b> Bibliothèques de la Côte-Nord </b> <br>
			Nous vous avons répertorié 2 grandes sources, dont le Réseau des Bibiothèques de la Côte-Nord, 
            et leur page Facebook où vous pourrez interagir avec la communauté, ainsi qu'un aperçu Google Map. <br><br>
			
			<div class="flex_cadre_video_interieur-text-service-aide">
                <div class="cadre_video_3"><a href="https://www.reseaubibliocn.qc.ca/fr">
                    <img src="img\bibliotheque\biblio_cote_nord_1.jpeg" title="Réseau des Bibliotheques de la Côte-Nord"/></a>
                </div>
                <div class="cadre_video_3"><a href="https://www.facebook.com/reseaubibliocn/?locale=fr_CA">
                    <img src="img\bibliotheque\biblio_cote_nord_2.jpeg" title="Lien facebook du rédseau des Biblio de la Côte-Nord"/></a>
                </div>
				<div class="cadre_video_3"><a href="https://www.google.com/maps/search/bibliotheque+de+la+r%C3%A9gion+de+la+c%C3%B4te-nord/@48.4176898,-71.1950615,11z/data=!3m1!4b1?entry=ttu">
                    <img src="img\reseau_biblio_google_map.jpeg" title="Vue Google Map de l'ensemble des Bibliothèques de la région"/></a>
                </div> 
			</div>
		</div><br><br><br>

{% endblock %}

        