{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section"> LE LANGAGE / LE JARGON QUÉBÉCOIS </p> <!-- (ajouter images + vidées) -->

		<div class="text-service-aide">
            Voici pour commencer <a href="https://www.quebec-cite.com/fr/ville-quebec/expressions-quebecoises">100 expressions quebécoises 
            pratiques pour communiquer au Québec</a>. Ce sont des expressions liées au plaisir, à l'hiver, à l'été aux salutation, 
            à la nourriture, ... <br><br>

            Quelques expressions québécoises <a href="https://vivreenfrancais.mcgill.ca/capsules-linguistiques/expressions-quebecoises/">rangées en ordre alphabétique</a>. 
            Produit par l'université de McGill. <br><br>

            Enfin, Tu veux apprendre à parler québécois ? Tu aimes la culture québécoise ?                                                                  
            Mais tu <font color="red">comprends pas pantoute</font> ce que racontent les Canadiens-français ?
            <a href="https://www.je-parle-quebecois.com/">Sur ce site</a>, on te propose d’améliorer ta compréhension de la langue québécoise !
            Tu regardes les vidéos, Tu découvres les expressions, et <font color="red">on t’explique TOUT</font> le vocabulaire québécois. <br>
		</div><br><br>
		
		<p class="sous_section"> REPAS QUÉBÉCOIS OU TRÈS POPULAIRES AU QUÉBEC</p>               <!-- (ajouter images + vidées) -->
		
        <!-------------------- Categorie repas : La poutine  ------------------->
        <div class="text-service-aide">
			<b> La Poutine </b><br>
			La poutine est un plat de la cuisine québécoise composé, dans sa recette classique, de trois éléments : des frites, 
            du fromage en grains et de la sauce brune. La poutine tire son origine du Centre-du-Québec à la fin des années 1950.
            Mets longtemps ridiculisé et utilisé pour représenter de manière caricaturale, voire péjorative, la société québécoise, 
            la poutine est en vogue dans les années 2020, et même célébrée, à l'extérieur des frontières du Québec. 
            En 2020, des festivals de poutine sont organisés à Drummondville, à Montréal et à Québec, et même hors de sa culture d'ancrage, 
            comme à Chicago, au New Hampshire, à Toronto et à Ottawa. La poutine est offerte sous différentes formes, 
            intégrant divers condiments, et fait avec des ingrédients autres que ceux utilisés dans la recette classique. 
            Dans « Poutine Dynamics » publié par la revue CuiZine, Nicolas Fabien-Ouellet indique que, 
            avec sa profusion de variations, la poutine constitue une catégorie culinaire à part entière, 
            au même titre que les soupes, les boulettes, les sandwichs, etc. <br><br>

            <div class="flex_cadre_photo_interieur-text-service-aide">
				<div class="cadre_photo_3"><img src="img/repas_quebecois/poutine/poutine1.jpeg" title="de la poutine"/></div>
				<div class="cadre_photo_3"><img src="img/repas_quebecois/poutine/poutine2.jpeg" title="de la poutine"/></div>
				<div class="cadre_photo_3"><img src="img/repas_quebecois/poutine/poutine3.jpeg" title="de la poutine"/></div> 
				<div class="cadre_photo_3"><img src="img/repas_quebecois/poutine/poutine4.jpeg" title="de la poutine"/></div>
				<div class="cadre_photo_3"><img src="img/repas_quebecois/poutine/poutine5.jpeg" title="de la poutine"/></div> 
				<div class="cadre_photo_3"><img src="img/repas_quebecois/poutine/poutine6.jpeg" title="de la poutine"/></div>
			</div><br>

			<b>Origines de la Poutine</b><br>
            Une histoire assez répandue explique qu'elle proviendrait de Drummondville. 
            Le restaurant Le Roy Jucep s'y présente en tout cas comme étant l'inventeur de la poutine et a enregistré la marque de commerce
             « L'inventeur de la Poutine ». Jean-Paul Roy, propriétaire de ce restaurant en 1964, serait le premier à avoir servi 
             la poutine comme on la connaît aujourd'hui c'est-à-dire « patates frites, fromage et sauce ». Le nom viendrait d'un mélange 
             d'une déformation du mot anglais « pudding » et du surnom du cuisinier « Ti-Pout ». Monsieur Roy aurait, selon son témoignage, 
             commencé à servir le fromage avec les frites et la sauce après la demande régulière de quelques clients16. 
             Jean-Paul Roy est décédé en août 2007 à Drummondville. Le certificat d'enregistrement de marque de commerce, 
             octroyé par le gouvernement fédéral canadien, est affiché dans le restaurant.<br>
             Suivez <a href="https://fr.wikipedia.org/wiki/Poutine_(plat)">ce lien</a> pour en apprendre plus.<br><br>         
            
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/M_-xAImkicc?si=s1tklJ9BxUnzHok0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/FKvO4FYlCyc?si=e1N45W2nbyqTnDt1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>

        </div><br><br>

		<!-------------------- Categorie repas : La lasagne  ------------------->	
        <div class="text-service-aide">
			<b> La Lasagne </b> <br>
			La carte de débit est un outil de paiement qui vous permet de régler vos transactions et vos achats en utilisant 
            directement l’argent qui se trouve dans votre compte bancaire. Si vous n’avez pas suffisamment d’argent dans votre compte pour faire votre achat, la transaction sera refusée. En gros, vous depensez l'argent que vous avez; de l'argent que vous n'aurez pas a rembourser avec des interets bancaires.<br>
            Voir aussi le <a href="https://www.canada.ca/fr/agence-consommation-matiere-financiere/services/activites-bancaires/utiliser-debit.html">site officiel du gouvernement</a>, ou le site de la <a href="https://www.bnc.ca/particuliers/conseils/credit/carte-debit-vs-credit.html">Banque Nationale</a>, pour plus d'informations. <br><br>
			
            <div class="flex_cadre_photo_interieur-text-service-aide">
				<div class="cadre_photo_3"><img src="img\repas_quebecois\lasagne/Lasagne1.jpeg" title="de la lasagne"/></div>
				<div class="cadre_photo_3"><img src="img\repas_quebecois\lasagne/Lasagne2.jpeg" title="de la lasagne"/></div>
				<div class="cadre_photo_3"><img src="img\repas_quebecois\lasagne/Lasagne3.jpeg" title="de la lasagne"/></div> 
				<div class="cadre_photo_3"><img src="img\repas_quebecois\lasagne/Lasagne4.jpeg" title="de la lasagne"/></div>
				<div class="cadre_photo_3"><img src="img\repas_quebecois\lasagne/Lasagne5.jpeg" title="de la lasagne"/></div> 
				<div class="cadre_photo_3"><img src="img\repas_quebecois\lasagne/Lasagne6.jpeg" title="de la lasagne"/></div>
			</div><br>
            
            <b>Origines de la lasagne</b><br>
             de la voie de chemin de fer pan-canadienne par le Canadien Pacifique. À l'époque, les ouvriers, surtout d'origine asiatique,
             y étaient nourris, dit-on, uniquement de bœuf haché, de pommes de terre et de maïs, denrées facilement disponibles et 
             peu coûteuses à cette époque. Ils venaient de créer ainsi, par la force des choses, un assemblage désormais unique nommé 
             en leur honneur. Les travailleurs canadiens-français des chemins de fer adoptèrent ce nouveau plat.<br>
             Ces théories sont rejetées par Jean-Pierre Lemasson, auteur du livre Le mystère insondable du pâté chinois paru 
             en octobre 2009 aux éditions Amérik Média. Selon ses recherches, les travailleurs chinois se nourrissaient simplement 
             de riz et de soja pendant la construction du chemin de fer. De plus, il constate que le pâté chinois a fait son apparition
             sur les tables des familles québécoises seulement dans les années 1930, ce qui rend difficile l'hypothèse qu'il soit 
             apparu pendant la révolution industrielle au Maine. Toujours selon l'auteur, l'origine du pâté chinois demeure un mystère.<br>

            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/QBEdqnjRiqA?si=mH0LgZPUHYpmFqKG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/0nE7dAlDshk?si=ovx6ql7bO2coDRJK"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>
        </div><br><br>	
		
        <!-------------------- Categorie repas : Le paté chinois  ------------------->
        <div class="text-service-aide">
			<b> Le Paté chinois </b> <br>
			Le pâté chinois est un mets proche du hachis parmentier, lié à l'histoire du Canada et plus particulièrement du Québec.
            Un pâté chinois avec des oignons à la poêle. Bœuf haché, maïs, pomme de terre en purée, superposés dans cet ordre,  
            sont généralement les trois ingrédients du pâté chinois, qui est ensuite cuit au four. Il n'est pas rare qu'il soit 
            servi saupoudré de chili peu épicé et, selon les goûts, du ketchup est parfois ajouté. <br> 
            Suivez <a href="https://fr.wikipedia.org/wiki/P%C3%A2t%C3%A9_chinois">ce lien</a> pour en savoir plus. <br><br>
			
            <div class="flex_cadre_photo_interieur-text-service-aide">
				<div class="cadre_photo_3"><img src="img\repas_quebecois\pate_chinois/pate_chinois1.jpeg" title="pate chinois"/></div>
				<div class="cadre_photo_3"><img src="img\repas_quebecois\pate_chinois/pate_chinois2.jpeg" title="pate chinois"/></div>
				<div class="cadre_photo_3"><img src="img\repas_quebecois\pate_chinois/pate_chinois3.jpeg" title="pate chinois"/></div> 
				<div class="cadre_photo_3"><img src="img\repas_quebecois\pate_chinois/pate_chinois4.jpeg" title="pate chinois"/></div>
				<div class="cadre_photo_3"><img src="img\repas_quebecois\pate_chinois/pate_chinois5.jpeg" title="pate chinois"/></div> 
				<div class="cadre_photo_3"><img src="img\repas_quebecois\pate_chinois/pate_chinois6.jpeg" title="pate chinois"/></div>
			</div><br>
            
            <b>Origines du paté chinois</b><br><br>
            <b>1ère théorie : </b> Selon certains, le pâté chinois aurait vu le jour à la fin du xixe siècle, lors de la construction
             de la voie de chemin de fer pan-canadienne par le Canadien Pacifique. À l'époque, les ouvriers, surtout d'origine asiatique,
             y étaient nourris, dit-on, uniquement de bœuf haché, de pommes de terre et de maïs, denrées facilement disponibles et 
             peu coûteuses à cette époque. Ils venaient de créer ainsi, par la force des choses, un assemblage désormais unique nommé 
             en leur honneur. Les travailleurs canadiens-français des chemins de fer adoptèrent ce nouveau plat.<br>
             Ces théories sont rejetées par Jean-Pierre Lemasson, auteur du livre Le mystère insondable du pâté chinois paru 
             en octobre 2009 aux éditions Amérik Média. Selon ses recherches, les travailleurs chinois se nourrissaient simplement 
             de riz et de soja pendant la construction du chemin de fer. De plus, il constate que le pâté chinois a fait son apparition
             sur les tables des familles québécoises seulement dans les années 1930, ce qui rend difficile l'hypothèse qu'il soit 
             apparu pendant la révolution industrielle au Maine. Toujours selon l'auteur, l'origine du pâté chinois demeure un mystère.<br><br>

            <b>2e théorie : </b> Selon une autre théorie, ce mets serait originaire de la ville de South China, non loin d'Augusta, 
            dans l'État américain du Maine, où de nombreux Canadiens français avaient émigré, faute de travail au Québec, 
            durant les années de la révolution industrielle (fin du xixe siècle). Dès lors, la « China pie », spécialité locale, 
            serait devenue ici, après traduction, le « pâté chinois ». C'est dans ce sens qu'abondent l'Office québécois de la langue française2, Claude Poirier du Trésor de la langue française
            au Québec et Usito.<br><br>

            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/phEthrQzu6U?si=jDDOJBLWHzNn4n1_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/lNXN_SURqt8?si=yYGc8HU6bR-Ac7e2"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>

        </div><br><br>
		

		<!-------------------- Categorie repas : La pizza  ------------------->
        <div class="text-service-aide">
			<b> La Pizza </b> <br>
			La pizza est une recette de cuisine traditionnelle de la cuisine italienne, originaire de Naples à base de galette de pâte à pain, garnie principalement d'huile d'olive, de sauce tomate, de mozzarella et d'autres ingrédients1 et cuite au four. Plat emblématique de la culture italienne, et de la restauration rapide dans le monde entier, elle est déclinée sous de multiples variantes. « L'art de fabriquer des pizzas napolitaines artisanales traditionnelles par les pizzaïolos napolitains » est inscrit au patrimoine mondial de l'UNESCO depuis 2017. <br><br>
			<b>Étymologie</b>
            Selon le linguiste Alain Rey, le mot « pizza » est « attesté primitivement au sens de « fouace, galette » dès 997, en latin médiéval, dans un document d'archive de la cathédrale de Gaeta ; il apparaît en 1535 en napolitain dans l'ouvrage Rimario, de Benedetto Di Falco et, à partir de 1549, en italien florentin. Il est spécialisé dans son sens actuel depuis 15703. L'étymologie exacte du mot est difficile à déterminer, et il existe plusieurs hypothèses à ce sujet : G. Princi Braccini propose comme étymon un mot gotique ou longobard, bizzo (haut allemand), « morceau (de pain), bouchée, fouace » ; R. Giacomelli y voit comme origine le grec vulgaire pitta, « fouace »4 (qui aurait donné pita en grec moderne).<br><br>
            <b>Histoire</b>
            Jusqu'à l'introduction de la tomate (un des principaux ingrédients de la pizza actuelle) en Europe et à son utilisation en cuisine à la fin du xviie siècle, la « pizza » d'alors n'avait aucun rapport avec celle d'aujourd'hui : elle se présentait sous différentes formes et différents types dont la variété ne se limitait pas aux garnitures, mais s’élargissait aux modes de cuisson (au four ou poêlée dans l'huile5).<br>
            Pour en savoir plus, <a href="https://fr.wikipedia.org/wiki/Pizza">suivez ce lien</a>.<br>

            <div class="flex_cadre_photo_interieur-text-service-aide">
				<div class="cadre_photo_3"><img src="img\repas_quebecois\pizza/pizza1.jpeg" title="pizza"/></div>
				<div class="cadre_photo_3"><img src="img\repas_quebecois\pizza/pizza2.jpeg" title="pizza"/></div>
				<div class="cadre_photo_3"><img src="img\repas_quebecois\pizza/pizza3.jpeg" title="pizza"/></div> 
				<div class="cadre_photo_3"><img src="img\repas_quebecois\pizza/pizza4.jpeg" title="pizza"/></div>
				<div class="cadre_photo_3"><img src="img\repas_quebecois\pizza/pizza5.jpeg" title="pizza"/></div> 
				<div class="cadre_photo_3"><img src="img\repas_quebecois\pizza/pizza6.jpeg" title="pizza"/></div>
			</div><br>
            
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/8WhpnTYLlfY?si=nGxMgj-SadKLXAUZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/3Z6TCicRLhs?si=1IGE4AM-PmB7kMgi"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/8x8bhcqwj6s?si=upVZH9SiUogKcOFD"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>

        </div><br><br>
       
	    <!-------------------- Categorie repas : La soupe au poulet et aux nouilles  ------------------->
        <div class="text-service-aide">
			<b> La soupe au poulet et nouilles.  </b> <br>
            C'est une soupe très populaire au Québec. Demandez-là dans la plupart des restaurants et fast-food tels que PFK, 
            Tim Horton, ... et vous êtes sûr de l'avoir. <br>
            Suivez ce <a href="https://ici.radio-canada.ca/mordu/recettes/7906/soupe-poulet-nouilles">lien de radio Canada</a>, ou <a href="https://www.zeste.ca/recettes/soupe-poulet-et-nouilles-reconfortante">celui-ci de Zeste</a>pour concocter votre soupe au Poulet et nouilles. <br><br>
			
            <div class="flex_cadre_photo_interieur-text-service-aide">
				<div class="cadre_photo_3"><img src="img\repas_quebecois\soupe_poulet_nouilles/poulet_nouilles_1.jpeg" title="soupe au poulet et nouilles"/></div>
				<div class="cadre_photo_3"><img src="img\repas_quebecois\soupe_poulet_nouilles/poulet_nouilles_2.jpeg" title="soupe au poulet et nouilles"/></div>
				<div class="cadre_photo_3"><img src="img\repas_quebecois\soupe_poulet_nouilles/poulet_nouilles_3.jpeg" title="soupe au poulet et nouilles"/></div> 
				<div class="cadre_photo_3"><img src="img\repas_quebecois\soupe_poulet_nouilles/poulet_nouilles_4.jpeg" title="soupe au poulet et nouilles"/></div>
				<div class="cadre_photo_3"><img src="img\repas_quebecois\soupe_poulet_nouilles/poulet_nouilles_5.jpeg" title="soupe au poulet et nouilles"/></div> 
				<div class="cadre_photo_3"><img src="img\repas_quebecois\soupe_poulet_nouilles/poulet_nouilles_6.jpeg" title="soupe au poulet et nouilles"/></div>
			</div><br>
            
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/GS_xcocQaOQ?si=ubgYY7FlhDWLj6ky" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/Er5val_3ESU?si=uWXtXYduJ9cv-0Y3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>
			
        </div><br><br>

        <!-------------------- Categorie repas : La soupe au brocoli  ------------------->
        <div class="text-service-aide">

			<b> La soupe au brocoli. </b> <br>
            
            Je n'ai pas grand historique à dire dessus mise-à part que c'est une soupe très santé. Savez-vous d'ailleurs que le brocoli
            est reconnu comme étant un puissant aliment de lutte contre le cancer ? 
            Suivez ce lien pour voir <a href="https://www.ricardocuisine.com/recettes/5343-soupe-au-cheddar-et-au-brocoli">une recette</a>, pour la soupe au brocoli. <br><br>
			
            <div class="flex_cadre_photo_interieur-text-service-aide">
				<div class="cadre_photo_3"><img src="img\repas_quebecois\soupe_au_brocoli/soupe_brocoli_1.jpeg" title="soupe au brocoli"/></div>
				<div class="cadre_photo_3"><img src="img\repas_quebecois\soupe_au_brocoli/soupe_brocoli_2.jpeg" title="soupe au brocoli"/></div>
				<div class="cadre_photo_3"><img src="img\repas_quebecois\soupe_au_brocoli/soupe_brocoli_3.jpeg" title="soupe au brocoli"/></div> 
				<div class="cadre_photo_3"><img src="img\repas_quebecois\soupe_au_brocoli/soupe_brocoli_4.jpeg" title="soupe au brocoli"/></div>
				<div class="cadre_photo_3"><img src="img\repas_quebecois\soupe_au_brocoli/soupe_brocoli_5.jpeg" title="soupe au brocoli"/></div> 
				<div class="cadre_photo_3"><img src="img\repas_quebecois\soupe_au_brocoli/soupe_brocoli_6.jpeg" title="soupe au brocoli"/></div>
			</div><br>
            
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/KVFcxRvEk3I?si=AIuW4lfultAK-ccp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/Xm3hfX4wc5g?si=uhUzqkNuZLeBs41T" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>
            
        </div><br><br>

		<p class="sous_section"> LES HABITUDES QUÉBÉCOISES, ET LES DONNÉES </p>    <!-- (ajouter images + vidées) -->
		
        <div class="text-service-aide">
            <b>Les habitudes de vie et comportements</b><br>
            Voici des <a href="https://statistique.quebec.ca/fr/statistiques/par-themes/sante-et-bien-etre/habitudes-de-vie-et-comportements">études et statistiques</a> 
            réalisées par l'institut de la statistique du Québec, mettant en lumière, pour toutes les tranches d'âge selon 
            le contexte, des activité physique, de l'alimentation et la nutrition, des habitudes de vie, 
            des comportements préventifs, des consommation d'alcool, de tabac, des drogues et jeux, des comportements sexuels.<br><br>

            <b>Culture et médias</b><br>
            Ici, l'institut de la statistique du Québec <a href="https://statistique.quebec.ca/fr/statistiques/par-themes/culture-et-medias">lève le voile</a>
            sur les arts, le cinéma, les dépenses et financement pour la culture, les données sur les musées, la musique, ainsi que les médias.<br><br>

            <b>Les actualités</b><br>
            Découvrez les <a href="https://www.msn.com/fr-ca/actualites/other/15-trucs-typiquement-canadiens-que-le-reste-du-monde-ne-comprend-pas/ss-BB1q9Pzy?ocid=entnewsntp&pc=U531&cvid=ff999206c63540b88fe5687db523c355&ei=61">actualités sur les tendances Canadiennes</a>. 
            C'est une panoplie d'informatons interessantes à savoir pour les plus curieux que nous postons dans cette rubrique.<br>
		</div><br><br>

		<p class="sous_section"> LES ARTISTES POPULAIRES QUÉBÉCOIS ( MUSIQUE ) </p>   <!-- (ajouter images + vidées) -->
		<div class="text-service-aide">
            (Copier-coller le lien ci-dessous) <br>
            <font color="blue">https://www.last.fm/fr/tag/quebecois/artists</font> <br><br>

            Nous avons plusieurs playlistes pour votre plus grand bonheur : <br><br>

            LES COWBOYS FRINGANTS - L'Amérique pleure (Copier-coller le lien ci-dessous) <br>
            <font color="blue">https://www.youtube.com/watch?v=sYRp8oP0yiw&list=PLKwNr9wSPgDDqDCQnfbbLFFQPPBiV1D_x</font><br><br>

            LES COWBOYS FRINGANTS - Les étoiles filantes (Copier-coller le lien ci-dessous) <br>
            <font color="blue">https://www.youtube.com/watch?v=j6QGhc67iJY&list=PLzmMp7kmEypfpM_tnsFAzEsVM_UDjYjGE</font><br><br>

            Les Hits De L'Été 2023 (Part1) - Musique Québécoise Playlist 2023 - Top Franco (Copier-coller le lien ci-dessous) <br>
            <font color="blue">https://www.youtube.com/watch?v=OvwszdV-BoM&list=PLSw_V9BpoG6eWDV--P0yP0xTJLn50Siyx</font><br><br>

		</div><br><br>

		<p class="sous_section"> LES ARTISTES POPULAIRES QUÉBÉCOIS ( COMÉDIENS ) </p>   <!-- (ajouter images + vidées) -->
		<div class="text-service-aide">
            <b>Actrices et acteurs (cinéma & télévision)</b><br>

            <ul> 
                <li><b>Roy Dupuis</b> — rôles marquants au cinéma et à la télé (« La Femme Nikita », « Les Filles de Caleb »).</li> 
                <li><b>Anne Dorval</b> — figure incontournable (« Mommy », « Les Parent »).</li> 
                <li><b>Karine Vanasse</b> — cinéma et séries (« Polytechnique », « Cardinal »).</li> 
                <li><b>Suzanne Clément</b> — récompensée à Cannes (« Mommy », « Laurence Anyways »).</li> 
                <li><b>Marc-André Grondin</b> — percée internationale (« C.R.A.Z.Y. », « Goon »).</li> 
                <li><b>Antoine Olivier Pilon</b> — révélations précoces (« Mommy », « 1:54 »).</li> 
                <li><b>Patrick Huard</b> — acteur/scénariste (« Bon Cop, Bad Cop », « Starbuck »).</li> 
                <li><b>Rémy Girard</b> — pilier du cinéma (« Les Invasions barbares », « La grande séduction »).</li> 
                <li><b>Caroline Dhavernas</b> — carrière locale et internationale (« Hannibal », « Mary Kills People »).</li> 
                <li><b>Évelyne Brochu</b> — bilingue, multiplateformes (« Orphan Black », « X Company »).</li> 
                <li><b>Magalie Lépine-Blondeau</b> — rôles marquants (« District 31 », « Plan B »).</li> 
                <li><b>Guylaine Tremblay</b> — figure aimée du public (« Unité 9 », « En tout cas »).</li> 
                <li><b>Claude Legault</b> — séries cultes (« 19-2 », « Minuit, le soir »).</li> 
                <li><b>Réal Bossé</b> — polyvalent (« Les Invincibles », « C’est comme ça que je t’aime »).</li> 
                <li><b>Maxim Gaudette</b> — cinéma fort (« Polytechnique », « Incendies »).</li> 
                <li><b>Sarah-Jeanne Labrosse</b> — rôles populaires (« Les Pays d’en haut », « Le Chalet »).</li> 
                <li><b>Pascale Bussières</b> — présence marquante (ciné et télé).</li> <li><b>Xavier Dolan</b> — acteur/réalisateur (« J’ai tué ma mère », « Mommy »).</li> 
                <li><b>Éric Bruneau</b> — télé et ciné (« L’Heure bleue », « Virage »).</li> 
                <li><b>Maxim Roy</b> — carrière au Québec et à l’international.</li> 
            </ul>
            
            <b>Humoristes & comédiens de scène (souvent acteurs aussi)</b><br>

            <ul> 
                <li><b>Louis-José Houde</b> — stand-up et cinéma (« Bon Cop, Bad Cop »).</li> 
                <li><b>Martin Matte</b> — humour et séries (« Les Beaux Malaises »).</li> 
                <li><b>François Bellefeuille</b> — style absurde et populaire.</li> 
                <li><b>Katherine Levac</b> — plume affûtée, télé et scène.</li> 
                <li><b>Rachid Badouri</b> — énergie scénique, télé et ciné.</li> 
                <li><b>Pierre-Yves Roy-Desmarais</b> — ascension fulgurante, musique & humour.</li> 
                <li><b>Mariana Mazza</b> — humour frontal, personnage fort.</li> 
                <li><b>Arnaud Soly</b> — polyvalent (sketch, musique, télé).</li> 
                <li><b>Mike Ward</b> — stand-up marquant, balado.</li> 
                <li><b>Jean-Marc Parent (JMP)</b> — rodages mythiques, marathons scéniques.</li> 
            </ul>
            
            <b>Classiques / Légendes</b><br>

            <ul> 
                <li><b>Michel Côté</b> — rôles cultes (« Cruising Bar », « C.R.A.Z.Y. »).</li> 
                <li><b>Dominique Michel</b> — pionnière de la télé et de l’humour.</li> 
                <li><b>Marc Labrèche</b> — humour, parodie, séries (« Le cœur a ses raisons »).</li> 
                <li><b>Claude Meunier</b> — comédien/auteur (« La Petite Vie »).</li> 
                <li><b>Yvon Deschamps</b> — figure fondatrice de l’humour québécois.</li> 
                <li><b>Geneviève Bujold</b> — carrière internationale au cinéma.</li> 
                <li><b>Guy A. Lepage</b> — comédien/auteur/animateur (Rock et Belles Oreilles).</li> 
            </ul>

            A cette liste non exhaustive seront bientot ajoutees des vidéos, bandes-annonces, extraits d’entrevues, etc.).
		</div><br><br><br>

{% endblock %}
 
        
        
        