{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section" id="le-caq"> LE C.A.Q </p>
		<div class="text-service-aide">  
            <b>Qu'est-ce que le C.A.Q. (études) ?</b><br>
            Le Certificat d’acceptation du Québec (CAQ) est une autorisation <i>provinciale</i> requise pour étudier au Québec (séjours d’études de plus de 6&nbsp;mois). Il est demandé <b>avant</b> le permis d’études fédéral.<br><br>

            <b>Démarche (résumé)</b>
            <ol>
                <li>Obtenir une <b>lettre d’admission</b> d’un établissement d’enseignement.</li>
                <li>Préparer vos <b>documents</b> (passeport, admission, capacité financière, etc.).</li>
                <li>Faire la <b>demande en ligne</b> (portail du MIFI) et <b>payer les frais</b>.</li>
                <li>Téléverser les <b>pièces justificatives</b> demandées.</li>
                <li>Suivre le traitement et télécharger l’<b>attestation de délivrance</b> une fois approuvée.</li>
            </ol>

            <b>Liens utiles (officiels)</b><br>
            • Demande de CAQ (MIFI)&nbsp;: <a href="https://www.quebec.ca/education/etudier-quebec/demande-selection-temporaire" target="_blank" rel="noopener">quebec.ca/…/demande-selection-temporaire</a><br>
            • Documents à transmettre (MIFI)&nbsp;: <a href="https://www.quebec.ca/education/etudier-quebec/documents" target="_blank" rel="noopener">quebec.ca/…/documents</a><br>
            • Suivre votre dossier en ligne (MIFI)&nbsp;: <a href="https://www.form.services.micc.gouv.qc.ca/dossierClient/faces/consultation.jspx?app=DCAE&lang=fr" target="_blank" rel="noopener">Espace client MIFI</a><br><br>
            <i>Astuce :</i> vérifiez la <b>validité de votre passeport</b> avant d’entamer la demande.

		</div><br><br>
        
        <p class="sous_section" id="le-passeport"> LE PASSEPORT </p>
		<div class="text-service-aide">  
            <b>Obtenir / renouveler un passeport</b><br>
            Le passeport est délivré par l’<b>autorité de votre pays</b> (consulat/ambassade ou service national). Assurez-vous qu’il reste <b>valide assez longtemps</b> pour couvrir la durée de vos études (idéalement au‑delà).<br><br>

            <b>Conseils pratiques</b>                                                                                       <br>
                • Vérifiez les <b>normes de photo</b> et les <b>délais</b> de traitement.                                   <br>
                • Conservez des <b>copies</b> (papier et numériques).                                                       <br>
                • Gardez le passeport sur vous lors des <b>déplacements</b>, et ne le confiez qu’aux autorités compétentes. <br>
		</div><br><br>

        <p class="sous_section"> LE VISA </p>
		<div class="text-service-aide">  
			
        <b>Visa de résident temporaire (VRT / TRV) ou AVE (eTA)</b><br>
        En plus du permis d’études, vous devez possiblement un <b>document d’entrée</b> pour voyager au Canada&nbsp;: un <b>visa (TRV)</b> ou une <b>autorisation de voyage électronique (eTA)</b>. Le type requis dépend de votre nationalité.<br><br>

        • Vérifier ce qu’il vous faut&nbsp;: <a href="https://www.ircc.canada.ca/english/helpcentre/answer.asp?qnum=523&top=15" target="_blank" rel="noopener">Ai‑je besoin d’un eTA ou d’un visa pour étudier&nbsp;?</a><br>
        • Trouver l’exigence selon votre passeport&nbsp;: <a href="https://www.ircc.canada.ca/english/visit/visas.asp" target="_blank" rel="noopener">IRCC&nbsp;: visa ou eTA</a><br><br>

        <i>Note :</i> si vous déposez une <b>première</b> demande de permis d’études depuis l’étranger, l’<b>eTA ou le TRV</b> est <b>généralement traité automatiquement</b> avec votre demande, s’il est requis.

		</div><br><br>

        <p class="sous_section" id="le-permis-detude"> LE PERMIS D'ÉTUDE </p>
		<div class="text-service-aide">  
			
            <b>Permis d’études (fédéral)</b><br>
            Le permis d’études est l’autorisation <i>fédérale</i> qui vous permet d’<b>étudier</b> au Canada. Pour le Québec, vous devez d’abord obtenir le <b>CAQ</b>.<br><br>

            <b>Étapes clés</b>
            <ol>
                <li>Lettre d’admission d’un <b>établissement désigné (DLI)</b>.</li>
                <li>Pour le Québec&nbsp;: <b>CAQ (études)</b> approuvé.</li>
                <li><b>Preuve de fonds</b> (capacité financière), <b>passeport</b> valide.</li>
                <li><b>Biométrie</b> (si exigée) et, au besoin, <b>examen médical</b>.</li>
                <li>Dépôt de la demande de <b>permis d’études</b> auprès d’IRCC.</li>
            </ol>

            <b>Liens utiles (IRCC)</b><br>
            • Page officielle – Permis d’études&nbsp;: <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit.html" target="_blank" rel="noopener">IRCC – Study permit</a><br>
            • Admissibilité&nbsp;: <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/eligibility.html" target="_blank" rel="noopener">Qui peut présenter une demande</a><br>
            • Preuve de fonds&nbsp;: <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/get-documents/financial-support.html" target="_blank" rel="noopener">Exigences financières</a><br>
            • Biométrie&nbsp;: <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/biometrics.html" target="_blank" rel="noopener">Empreintes et photo</a> | <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/biometrics/where-to-give.html" target="_blank" rel="noopener">Où les donner</a><br>
            • Suivi après dépôt&nbsp;: <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/after-apply-next-steps.html" target="_blank" rel="noopener">Après votre demande</a><br>

        </div><br><br>

        <p class="sous_section" id="preuve-de-fonds"> PREUVE DE FONDS (Capacité financière) </p>
        <div class="text-service-aide">
            <b>Montants et pièces acceptées</b><br>
            Les exigences financières peuvent être mises à jour. Préparez des preuves <b>claires</b> (relevés bancaires, GIC, lettre de prise en charge, bourses, prêts, etc.).<br>
            <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/get-documents/financial-support.html" target="_blank" rel="noopener">IRCC – Preuve de soutien financier</a><br>
        </div><br><br>

        <p class="sous_section" id="donnees-biometriques"> DONNÉES BIOMÉTRIQUES & EXAMEN MÉDICAL </p>
        <div class="text-service-aide">
            <b>Biométrie</b> : souvent requise (empreintes + photo). <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/biometrics.html" target="_blank" rel="noopener">En savoir plus</a> | <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/biometrics/where-to-give.html" target="_blank" rel="noopener">Où donner sa biométrie</a><br>
            <b>Examen médical</b> : exigé selon le pays/secteur d’études (instructions d’IRCC).<br>
        </div><br><br>

        <p class="sous_section" id="NAS"> NAS (Numéro d’Assurance Sociale) </p>
        <div class="text-service-aide">
            Pour <b>travailler</b> au Canada, vous avez besoin d’un NAS (Service Canada). Vous pouvez généralement le demander <b>en ligne</b> avec vos documents d’immigration.<br>
            <a href="https://www.canada.ca/en/employment-social-development/services/sin/apply.html" target="_blank" rel="noopener">Demander un NAS (Service Canada)</a><br>
        </div><br><br>

        <p class="sous_section" id="RAMQ"> ASSURANCE MALADIE DU QUÉBEC (RAMQ) & ASSURANCE PRIVÉE </p>
        <div class="text-service-aide">
            Certains étudiants étrangers sont <b>admissibles</b> à la RAMQ (selon des ententes internationales). Sinon, une <b>assurance privée</b> est requise.<br>
            <a href="https://www.ramq.gouv.qc.ca/fr/etudiants-etrangers-inscrivez-vous-ligne-a-assurance-maladie" target="_blank" rel="noopener">RAMQ – Étudiants étrangers</a><br>
        </div><br><br>

        <p class="sous_section" id="eTA-visa"> ENTRÉE AU CANADA : eTA ou Visa (TRV) </p>
        <div class="text-service-aide">
        Selon votre citoyenneté et votre mode d’entrée, vous aurez besoin d’un <b>TRV</b> (visa) ou d’une <b>eTA</b>. <br>
        <a href="https://www.ircc.canada.ca/english/visit/visas.asp" target="_blank" rel="noopener">IRCC – Ai‑je besoin d’un visa&nbsp;?</a> | 
        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada/eta/eligibility.html" target="_blank" rel="noopener">Qui peut demander une eTA&nbsp;?</a><br>
        </div><br><br>

        <p class="sous_section" id="voyages-hors-canada"> VOYAGES HORS DU CANADA pendant les études </p>
        <div class="text-service-aide">
        Avant de voyager, assurez-vous d’avoir un <b>permis d’études valide</b> et un <b>document d’entrée</b> (TRV ou eTA) valide. <br>
        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/travel-outside-canada.html" target="_blank" rel="noopener">IRCC – Voyager hors du Canada</a><br>
        </div><br><br>

        <p class="sous_section" id="apres-diplome"> APRÈS LE DIPLÖME : permis de travail post‑diplôme (PGWP) </p>
        <div class="text-service-aide">
        Le <b>PGWP</b> permet de travailler au Canada après des études admissibles. Vérifiez votre éligibilité et les délais pour déposer la demande.<br>
        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/work/after-graduation/about.html" target="_blank" rel="noopener">À propos du PGWP</a> | 
        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/work/after-graduation/apply.html" target="_blank" rel="noopener">Comment présenter une demande</a>
        </div><br><br>

        <p class="sous_section" id="renouveler-prolonger"> Renouveler / Prolonger (CAQ & permis d’études) </p>
        <div class="text-service-aide">
        Anticipez les <b>échéances</b> : prolongez votre CAQ (si au Québec) puis votre <b>permis d’études</b> avant l’expiration. Conservez des preuves d’inscription et de capacité financière.<br>
        Liens&nbsp;: <a href="https://www.quebec.ca/education/etudier-quebec/demande-selection-temporaire" target="_blank" rel="noopener">MIFI – CAQ</a> | 
        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada.html" target="_blank" rel="noopener">IRCC – Étudier au Canada</a>
        </div><br><br>


        <p class="sous_section" id="permis-de-conduire"> PERMIS DE CONDUIRE </p>
		<div class="text-service-aide">  
            <b>Permis de conduire (Québec)</b><br>
            Selon votre situation, vous pouvez conduire avec un <b>permis étranger</b> pendant une période limitée, ou devoir <b>échanger/obtenir</b> un permis du Québec (SAAQ). Les règles diffèrent pour les <b>étudiants/stagiaires</b> et les nouveaux résidents.<br><br>

            <b>Liens officiels</b><br>
            <ul>
                <li> Nouveaux arrivants&nbsp;: <a href="https://saaq.gouv.qc.ca/touristes-nouveaux-arrivants/obtention-permis" target="_blank" rel="noopener">Obtention d’un permis (SAAQ)</a></li>
                <li> Permis international / étudiant ou stagiaire&nbsp;: <a href="https://saaq.gouv.qc.ca/permis-conduire/permis-international" target="_blank" rel="noopener">Conduire avec un permis étranger</a></li>
                <li> Reconnaissance / échange de permis&nbsp;: <a href="https://saaq.gouv.qc.ca/permis-conduire/permis-canadien-etranger" target="_blank" rel="noopener">Permis canadien ou étranger</a></li>
             </ul>   
            <i>Important :</i> gardez vos <b>preuves d’expérience de conduite</b> (traductions officielles au besoin).
		</div><br><br>
		
        <p class="sous_section"> LES DERNIÈRES MISES-À-JOUR GOUVERNEMENTALES</p>
		<div class="text-service-aide">
            <b>Restez à jour</b>                                                                                                                                                                                                   <br>
            Les règles et montants peuvent changer. Consultez régulièrement les pages officielles&nbsp;:                                                                                                                           <br>
                • MIFI (Québec) – <a href="https://www.quebec.ca/education/etudier-quebec/demande-selection-temporaire" target="_blank" rel="noopener">Demande de CAQ</a>
                • IRCC – <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada.html" target="_blank" rel="noopener">Étudier au Canada (aperçu)</a>                                              <br>
                • IRCC – <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/get-documents/financial-support.html" 
                                target="_blank" rel="noopener">Preuve de fonds</a> et <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/biometrics.html" target="_blank" rel="noopener">Biométrie</a>    <br>
                • RAMQ – <a href="https://www.ramq.gouv.qc.ca/fr/etudiants-etrangers-inscrivez-vous-ligne-a-assurance-maladie" target="_blank" rel="noopener">Étudiants étrangers</a>                                              
		</div><br><br>

		<div class="text-service-aide">
            <div class="cadre_video_interieur-text-service-aide">
				<iframe src="https://www.youtube.com/embed/XaQUnCpjNEk?si=SsHVQR5QlQAGsw5B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div><br>

			<div class="cadre_video_interieur-text-service-aide">
				<iframe src="https://www.youtube.com/embed/BsjM5v0Qfqw?si=kJJHjaG2vpB-st1b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div><br>

			<div class="cadre_video_interieur-text-service-aide">
				<iframe src="https://www.youtube.com/embed/41PokMq0T2w?si=KqdjPGkHvVXrBuaQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div><br>

			<div class="cadre_video_interieur-text-service-aide">
				<iframe src="https://www.youtube.com/embed/siQqOWU8t8Y?si=Z_Ambn1JlakBgxh_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>	
		</div><br><br><br>

{% endblock %}

        