{% extends "base_2.html" %}

{% block content %}

    <p class="sous_section"> FORMATION PROFESSIONNELLE : MESSAGE AUX FUTURS ÉLÈVES </p>
    <div class="text-service-aide">

    La FP mène à des <b>DEP/ASP/AEP</b> axés sur la <b>pratique</b> et l’<b>emploi rapide</b>. 
    Tu apprendras en ateliers et en milieu réel (stages, ATE). La présence, la sécurité et les <b>compétences démontrées</b> sont centrales.

    </div><br><br>

    <p class="sous_section"> FP : COMMENT UTILISER LES PLATEFORMES </p>
    <div class="text-service-aide">
        <ul>
            <li><b>Portail du centre</b> (infos, horaires, communications) et <b>courriel</b> officiel.</li>
            <li><b>Teams/Moodle</b> (selon le centre) : contenus, devoirs, visioconférences.</li>
            <li><b>Ateliers/équipements</b> : règles d’accès, <b>EPI</b> (bottes à cap d’acier, lunettes…), consignations.</li>
            <li><b>Ressources</b> : bibliothèque, banques de tâches, fiches techniques.</li>
        </ul>
    </div><br><br>

    <p class="sous_section"> ORGANISATION EN FP (Gestion des Cours/Compétences) </p>
    <div class="text-service-aide">
        <ul>
            <li><b>Compétences</b> modulaires : chaque module doit être <b>maîtrisé</b> (réussite/à reprendre).</li>
            <li><b>Présence & ponctualité</b> : notées et <b>obligatoires</b> surtout en atelier.</li>
            <li><b>Évaluation</b> : démonstrations pratiques, journaux de bord, checklists.</li>
            <li><b>Stage/ATE</b> : CV ciblé, cartes de compétences, références.</li>
        </ul>
    </div><br><br>

    <p class="sous_section"> ORGANISATION EN FP (Calendrier & Dates clés) </p>
    <div class="text-service-aide">
        <ul>
            <li><b>Entrées continues</b> possibles : vérifie ton <b>groupe</b> et les dates d’intégration.</li>
            <li><b>Évaluations pratiques</b> : inscris-les dans ton agenda <b>dès l’annonce</b>.</li>
            <li><b>Stages</b> : visite médicale/attestations (si requis), EPI, transport.</li>
        </ul>
    </div><br><br>

    <p class="sous_section"> FP : SÉCURITÉ & ÉQUIPEMENTS </p>
    <div class="text-service-aide">
        <ul>
            <li><b>EPI obligatoire</b> : chaussures de sécurité, lunettes, gants, masque selon métier.</li>
            <li><b>Consignes</b> : signalement des dangers, entretien du poste, respect des zones.</li>
            <li><b>Matériel personnel</b> : outils de base étiquetés, cadenas, cahier de bord.</li>
        </ul>
    </div><br><br>

    <p class="sous_section"> FP : EMPLOYABILITÉ & RECONNAISSANCE </p>
    <div class="text-service-aide">
        <ul>
            <li><b>RAC</b> (Reconnaissance des acquis) : fais valider ton expérience.</li>
            <li><b>Bourses/financement</b> : institutionnel et public selon admissibilité.</li>
            <li><b>Insertion</b> : mini‑portfolio (photos de réalisations, attestations, références).</li>
        </ul>
    </div><br><br>

    <p class="sous_section"> VISITES GUIDÉES DE CERTAINS CENTRES DE FORMATION PROFESSIONNELLE </p>

    <div class="text-service-aide">
        <div class="cadre_video_interieur-text-service-aide">
            <iframe src="https://www.youtube.com/embed/H5Z4B2bHJb0?si=dbAKRRxOwSV9Nyuf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div><br> 

        <div class="cadre_video_interieur-text-service-aide">
            <iframe src="https://www.youtube.com/embed/xxE448Rvnec?si=ijwDqgQI_sj2bh6g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div><br><br><br>

{% endblock %}
