{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section"> GÉNÉRALITÉS </p>
        <div class="text-service-aide">
            <a href="{{ url_for('etudier_a_l_universite') }}" title="Étudier èa l'Université">1 - Étudier à l'Université</a><br><br>
            <a href="{{ url_for('etudier_au_cegep') }}" title="">2 - Étudier au Cégep</a><br><br>
            <a href="{{ url_for('etudier_a_la_formation_professionnelle') }}" title="">3 - Étudier à la Formation Professionnelle</a><br><br>
            <a href="{{ url_for('etudier_a_la_formation_continue') }}" title="">4 - Étudier à la Formation Continue</a><br>
        </div><br><br>

{% endblock %}
        
        
        
        