{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section"> N.A.S ( Numéro d'Asurrance Sociale ) </p>
        
        <div class="text-service-aide">    
            <b> Qu'est ce que le N.A.S ? </b> <br>
			Le numéro d’assurance sociale, souvent appelé par son acronyme NAS, est nécessaire au Canada pour plusieurs démarches administratives. 
            En tant qu’expatrié, il vous sera indispensable dès votre établissement sur le sol québécois. <br><br>

            <b> À quoi sert le N.A.S ? </b> <br>
            Les Numéros d’Assurance Sociale (ou Social Insurance Number) ont pour vocation d’identifier les individus qui travaillent au Canada ou qui ont recours aux différents programmes et régimes gouvernementaux.
            Le NAS est un indispensable au Canada, même avec un permis Vacances-Travail ou Jeunes Professionnels accordé dans le cadre du programme Expérience Internationale Canada (EIC).<br><br>
            
            <div class="flex_cadre_photo_interieur-text-service-aide">
				<div class="cadre_photo_3"><img src="img/nas/nas_1.png" title="N.A.S"/></div>
				<div class="cadre_photo_3"><img src="img/nas/nas_2.jpeg" title="N.A.S"/></div>
				<div class="cadre_photo_3"><img src="img/nas/nas_3.jpeg" title="N.A.S"/></div> 
			</div><br>

            Composé de 9 chiffres et commençant par un 9 si vous avez un permis EIC, <font color="red">il est strictement personnel et confidentiel</font>. Vous ne devez pas le divulguer, à moins qu’il vous soit demandé par une institution de confiance comme votre banque ou votre employeur. <br><br>

            Pour plus d'informations, consulter le site <a href="https://www.talentech.ca/ressource/quest-ce-que-le-numero-dassurance-sociale-nas-et-comment-lobtenir">Talentech.ca</a>, ou le <a href="https://www.canada.ca/fr/emploi-developpement-social/programmes/assurance-emploi/ae-liste/assurance-emploi-employeurs-numero-assurance-sociale.html">site du gouvernement</a>. 			  
        </div><br><br>
        

		<p class="sous_section"> INFORMATION SUR LES CARTES BANCAIRES </p>
		<div class="text-service-aide">
			<b class="sous_sous_section"> Carte de DÉBIT </b> <br>
			La carte de débit est un outil de paiement qui vous permet de régler vos transactions et vos achats en utilisant 
            directement l’argent qui se trouve dans votre compte bancaire. Si vous n’avez pas suffisamment d’argent dans votre compte pour faire votre achat, la transaction sera refusée. En gros, vous depensez l'argent que vous avez; de l'argent que vous n'aurez pas a rembourser avec des interets bancaires.<br>
            Voir aussi le <a href="https://www.canada.ca/fr/agence-consommation-matiere-financiere/services/activites-bancaires/utiliser-debit.html">site officiel du gouvernement</a>, ou le site de la <a href="https://www.bnc.ca/particuliers/conseils/credit/carte-debit-vs-credit.html">Banque Nationale</a>, pour plus d'informations. <br><br>
			
            <div class="flex_cadre_photo_interieur-text-service-aide">
				
                <div class="cadre_photo_3"><img src="img/carte_debit/debit_desjardin_1.jpeg" title="carte de débit"/></div>
				<div class="cadre_photo_3"><img src="img/carte_debit/debit_platinium_federal_bank_rupay.jpeg" title="carte de débit"/></div>
				<div class="cadre_photo_3"><img src="img/carte_debit/mastercard_debit_platinum_1.jpeg" title="carte de débit"/></div> 
				
                <div class="cadre_photo_3"><img src="img/carte_debit/platinium_debit_rupay.jpeg" title="carte de débit"/></div>
				<div class="cadre_photo_3"><img src="img/carte_debit/visa_debit_cibc_1.jpeg" title="carte de débit"/></div> 
				<div class="cadre_photo_3"><img src="img/carte_debit/visa_debit_scotiabanque_1.jpeg" title="carte de débit"/></div>

			</div><br><br>

			<b> Carte de CRÉDIT </b> <br>
			La carte de crédit est aussi un outil de paiement qui vous permet de faire des transactions. 
            Mais elle vous donne accès à du <font color="red">crédit que vous devriez rembourser !</font> 
            lorsque vous recevez votre paie. <font color="red">C'est à vous de rembourser. 
            Ça ne se prélève pas automatiquement</font>. 
            Et si vous tardez trop, c'est là que ça s'accumule et que ça devient dangereux de posséder 
            une carte de crédit. INTERESSANT : Avec une carte une crédit, vous batissez un CRÉDIT, 
            qui témoignera de votre solvabilité lorsque vous voudriez acheter une voiture, 
            un condos, une maison, ... peu importe. Car les concessionnaires, agents immobiliers, etc sont capables 
            de verifier si vous êtes un bon rembourseur de crédits, sans quoi, ils hésiteront avant de vous céder 
            une voiture par exemple. C'est aussi èa ca que çca sert une carte de crédit, prouver qu'on est capable 
            d'acheter maintenant, et régler l'addition plutard. C'est comme manger au restaurant ;) <br>
            Voir aussi le <a href="https://www.canada.ca/fr/agence-consommation-matiere-financiere/services/activites-bancaires/utiliser-debit.html">site officiel du gouvernement</a>, ou le site de la <a href="https://www.bnc.ca/particuliers/conseils/credit/carte-debit-vs-credit.html">Banque Nationale</a>, pour plus d'informations. <br><br>
            
            <div class="flex_cadre_photo_interieur-text-service-aide">
				<div class="cadre_photo_3"><img src="img/carte_credit/platinium_mastercard_credit_national_bank.jpeg" title="carte de crédit"/></div>
				<div class="cadre_photo_3"><img src="img/carte_credit/platinium_visa_credit.jpeg" title="carte de crédit"/></div>
				<div class="cadre_photo_3"><img src="img/carte_credit/syncro_master_card_credit_national_bank.jpeg" title="carte de crédit"/></div> 
				<div class="cadre_photo_3"><img src="img/carte_credit/visa_credit_rbc_1.jpeg" title="carte de crédit"/></div>
				<div class="cadre_photo_3"><img src="img/carte_credit/visa_credit_rbc_2.jpeg" title="carte de crédit"/></div> 
				<div class="cadre_photo_3"><img src="img/carte_credit/visa_laurentian_explore.jpeg" title="carte de crédit"/></div>
			</div><br><br>
            Bon... On remarque que quand c'est du débit, c'est précisé DÉBIT quelque part sur la carte. Au moins vous ne pouvez pas vous tromper. 
        
        </div><br><br>
        
        <p class="sous_section"> DIFFÉRENCES ENTRE CARTE DÉBIT ET CARTE CRÉDIT </p>
        <div class="text-service-aide">
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/icsU_yuFnS8?si=uKGb670LRc6ixxlN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>
            
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/Fu0lg3-ZNzI?si=EGGgHFFA_qOkxIgL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div><br><br>

        
        <p class="sous_section"> OUVERTURE D'UN COMPTE BANCAIRE </p>
        <div class="text-service-aide">
            <b> Compte DÉBIT</b> <br>
            
            • <b>Usage</b> : dépôts/retraits au guichet, paiements Interac, virements Interac e-Transfert.                                                                                                                                    <br><br>
            • <b>Documents à apporter</b> : passeport, <i>permis d’études</i> (+ CAQ si Québec), preuve d’adresse (bail/facture), carte d’étudiant(e) ou lettre d’inscription. <i>NAS</i> parfois demandé pour les comptes portant intérêt.   <br><br>
            • <b>Frais</b> : privilégier un <b>forfait étudiant</b> (mensualités réduites/gratuites, virements illimités). Attention aux frais de guichets d’autres banques.                                                                  <br><br>
            • <b>Délais de disponibilité</b> : les premiers chèques/dépôts peuvent être <b>retenus</b> quelques jours; demande une <b>limite de disponibilité</b> plus élevée si possible.                                                    <br><br>
            • <b>À configurer</b> : dépôt de chèque mobile, alertes de solde, virement automatique loyer, <b>spécimen de chèque</b> (pour salaire/bourses). Évite le <b>découvert</b> si tu débutes.                                          <br><br>
        
            <b> Compte CRÉDIT</b>                                                                              <br>
            • <b>Objectif</b> : bâtir ta <b>cote de crédit</b> (utile pour logement, téléphone, assurances).   <br><br>
            • <b>Options de départ</b> :                                                                       <br>
                    - Carte étudiante</b> : limite typique 500–1 000 $ selon ton dossier.                      <br>
                    - Carte sécurisée</b> : tu verses un dépôt (ex. 500 $) = ta limite; dépôt remboursable.    <br><br>
                
            • <b>Bonnes pratiques</b> :                                                                        <br>
                    - Paye <b>en entier</b> chaque mois (zéro intérêts).                                       <br>
                    - Garde l’utilisation <b>&lt; 30 %</b> de la limite (ex. &lt; 150 $ si limite 500 $).      <br>
                    - Active des <b>rappels</b> ou le prélèvement automatique du solde.                        <br>
                    - Évite les <b>avances de fonds</b> (intérêts immédiats + frais).                          <br><br>
                
            • <b>À savoir</b> :                                                                                <br>
                    - Le <b>paiement minimum</b> n’empêche pas les intérêts sur le reste.                      <br>
                    - Priorise <b>taux d’intérêt bas</b> et <b>0 $ de frais annuels</b> plutôt que les points. <br>
                    - Une seule carte bien gérée &gt; plusieurs cartes ouvertes inutilement.                   <br><br>
        </div><br><br>
    
		<p class="sous_section"> GESTION DES CARTES BANCAIRES </p>
		<div class="text-service-aide">
			<b> Quoi FAIRE, quoi NE PAS FAIRE quand on a une Carte de DÉBIT</b>                                                                        <br>
			Pas très compliqué. Pour la carte de débit, tu dépenses ce que tu as. Du coup, tu ne cours aucun risque, 
            à part celui de te rendre très rapidement à 0$. Donc faire attention à faire un achat de montant inférieur à ce que tu as dans ton compte. <br><br>

			<b> Quoi FAIRE, quoi NE PAS FAIRE quand on a une Carte de CRÉDIT</b>                                                                                                     <br>
			Ouuuuuhh là c'est plus délicat :                                                                                                                                         <br>
            - Payez ce que vous devez avant la date d'échéance.                                                                                                                      <br>
            - Depensez des sommes que vous pourrez rembourser une fois la date d'échéance arrivée, autrement dit, <font color="red">ne vivez pas au dessus de vos revenus !</font>   <br>
            - Une fois la réception de votre paie, faites du paiement de votre carte de crédit, <font color="red">votre priorité</font>.                                             <br><br>
            
            Remarque : la banque pourra vérifier votre solvabilité. Celà leur permettra de vous faire confiance et vous aider dans l'achat d'un véhicule par exemple pour vos déplacements, lorsque vous faites vos paiements à temps.  <br><br>

			<b> Quoi faire pour ÉVITER de se FAIRE VOLER, comment ÉVITER les ARNAQUES </b>                                                                                                                                              <br>
			Conseils du gouvernement pour les <a href="https://www.canada.ca/fr/agence-consommation-matiere-financiere/services/fraude-debit.html">cartes de Débit</a>, et les <a href="https://www.canada.ca/fr/agence-consommation-matiere-financiere/services/fraude-debit.html">cartes de Crédit</a> <br><br>
		</div><br><br>

        <p class="sous_section"> COMMENT OUVRIR UN COMPTE BANCAIRE </p>
        <div class="text-service-aide">
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/qhzA_6f7I7k?si=ptxmt4vIiMO4kf8j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>

            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/YvWakAKqc58?si=DABQkFfuSb5t1bAK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/hHcyErlezoM?si=TkzXItwAs6_dhdsu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div><br><br>


        <p class="sous_section"> GESTION DE LA CARTE DE CRÉDIT, LES BONNES PRATIQUES </p>
        <div class="text-service-aide">
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/R18bPqYtPGo?si=UKpYWzpoSLQ0dfv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>
            
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/Ay_Epy4NDEw?si=CNLXTthj3IDpsKQ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div><br><br>

        
        <p class="sous_section"> ALERTE À LA FRAUDE SUR LES CARTES BANCAIRES </p>
        <div class="text-service-aide">
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/LMY06ZXQSyw?si=5r6icuMDCe6-t8Mt"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>
            
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/_GateGBbeWI?si=UkjOJO7AXjaNbNwh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>

            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/UK7sCOOENiY?si=GbXjdNDOuL2JEv-P" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>

            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/EVR-QaeazQk?si=1AlrfBbJ9J3a2qP3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div><br><br><br>

{% endblock %}
        
        

	
