{% extends "base_2.html" %}

{% block content %}

	<p class="sous_section"> ÉVENEMENTS COMMUNS </p> <br>

	<div class="text-service-aide">
		<b> Soirée Dansante : Night Party, avec DG Lil Brayan, le Dimanche 01 Sept 2024 </b><br><br>
		
		<img src="img/ici_chez_nous/soiree_dansante_dg_Lil_Brayan_2024_09_01.jpg" title=""/>
	</div><br><br>

	
	<div class="text-service-aide">
		<b> Coupe d'Afrique des nations au Saguenay : Pour l'amour du ballon rond et de la diversité </b> <br>
		La Coupe d'Afrique des nations (CAN) au Saguenay a pris son envol samedi soir. Avec 16 équipes participantes,
		la 3e édition de l'événement gagne en popularité. Des matchs de soccer se tiendront toutes les fins de
		semaines jusqu'au début du mois de septembre au parc Jean-Béliveau de Chicoutimi. <br>
		
		Voici des liens url : <br>

		<a href="https://ici.radio-canada.ca/nouvelle/2093977/can-coupe-afrique-nations-saguenay-chicoutimi-soccer">Radio-Canada </a> <br>
		<a href="https://www.noovo.info/video/coupe-dafrique-des-nations-de-saguenay-se-reunir-autour-dune-passion-commune.html" target="_blank" >Noovo.info</a> <br>
		
		<a href="https://ici.radio-canada.ca/nouvelle/2093977/can-coupe-afrique-nations-saguenay-chicoutimi-soccer" target="_blank" >
			<img src="img/ici_chez_nous/coupe-afrique-nations-saguenay-soccer-2024.webp" title="Aller sur le Radio-Canada pour plus d'informations"/> 
		</a>
	
	</div><br><br>	

	
	<div class="text-service-aide">
		<b> Coupe d'Afrique des nations au Saguenay : Pour l'amour du ballon rond et de la diversité </b> <br>

		L'activité est aussi médiatisée sur Radio-Canada. <br> 
		
		<a href="https://ici.radio-canada.ca/nouvelle/2001571/sport-evenement-parc-communaute-jouer-culture" target="_blank">Voir le lien pour d'avantage de détails.</a> <br><br>
		
		<div class="flex_cadre_photo_interieur-text-service-aide">
			<div class="cadre_photo_4"><img src="img/ici_chez_nous/evenements_communs_1.jpg" title="étudiant international"/></div>
			<div class="cadre_photo_4"><img src="img/ici_chez_nous/evenements_communs_2.jpeg" title="étudiant international"/></div>
			<div class="cadre_photo_4"><img src="img/ici_chez_nous/evenements_communs_3.jpg" title="étudiant international"/></div> 
			<div class="cadre_photo_4"><img src="img/ici_chez_nous/evenements_communs_4.jpeg" title="étudiant international"/></div>
		</div>
	</div><br><br>

	<p class="sous_section"> COTE D'IVOIRE </p>

	<div class="text-service-aide">
		<b>Garba Party, le 20 Juillet à partir de 18h, au 370 Rue Saint-Anne, Saguenay </b><br>
		
		Pour ceux qui n'ont pas facebook : <br>
		**Programme du Garba Party - Une Nuit Inoubliable au Saguenay !**
		**Chères amies, chers amis, et chers résidents du Saguenay-Lac-Saint-Jean,**
		Préparez-vous pour une soirée exceptionnelle qui restera gravée dans vos mémoires ! L'Association des Ivoiriens du 
		Saguenay-Lac-Saint-Jean est ravie de vous inviter à notre **Garba Party**, un événement culturel, gastronomique et social à ne pas manquer. Voici ce qui vous attend :<br><br>
		
		**🌟 Animation Royale :** <br>
		Dès votre arrivée, plongez dans une ambiance festive avec des animations royales qui vous feront vibrer. Notre équipe vous a concocté des surprises et des activités ludiques pour vous divertir tout au long de la soirée. <br><br>
		
		**🍛 Buffet Garba Ouvert :** <br>
		Dès 18h, laissez-vous tenter par le délicieux Garba, un plat traditionnel ivoirien qui ravira vos papilles. Le buffet sera ouvert jusqu'à 22h30, offrant une variété de mets savoureux pour satisfaire tous les goûts. <br><br>
		
		**🎤 Partages d'Expériences et Témoignages :**<br>
		Écoutez les témoignages inspirants des nouveaux arrivants et des résidents du Saguenay. Découvrez leurs parcours et les services offerts par notre association, créant un moment de partage et de convivialité. <br><br>
		
		**🎉 Jeux et Animations :**<br>
		Participez à des jeux amusants et à des animations dynamiques pour toute la famille. C’est l’occasion idéale pour rencontrer de nouvelles personnes et renforcer les liens communautaires. <br><br>
		
		**💃 After Garba - Soirée Dansante :**<br>
		À partir de 22h30, la soirée continue avec l'After Garba ! Un DJ talentueux mettra le feu à la piste de danse jusqu'à 3h du matin. Venez bouger et vous amuser dans une ambiance électrique ! <br><br>
		
		**🎟️ Tarifs et Réservation :**<br>
		- 20$ par personne <br>
		- Réservez vos places dès maintenant via le lien suivant : <br> 
		https://www.eventbrite.ca/.../garba-party-tickets... <br><br>

		**✨ Thème : “Célébrons Ensemble, Partageons Nos Cultures”** <br>
		Ce thème reflète l’esprit de la soirée : une célébration ouverte à tous, un moment de partage et de découverte culturelle. <br><br>
		
		**Nous vous attendons nombreux pour une nuit riche en émotions, en découvertes et en divertissements ! Ne manquez pas cette occasion unique de passer une soirée mémorable avec nous. <br><br>
		À très bientôt ! <br>
		Association des Ivoiriens du Saguenay <br><br>
		

		<img src="img/ici_chez_nous/soiree_des_Ivoiriens_1.jpg" title="Soiree Pizza"/>
		

	</div><br><br>

	<p class="sous_section"> BÉNIN </p>

	<div class="text-service-aide">
		<b> Soirée PIZZA au sous-sol de l'UQAC le mercredi 06 Déc 2023 </b> <br>
		La soirée PIZZA, c'est juste pour se retrouver entre amis. 
		Ne restez pas chez vous, venez vous détendre avec nous, ça fait du bien de se retrouver dans notre seconde famille.  <br>
		<a href="#" target="_blank">lien Facebook.</a><br>
		
		Veuillez contacter Étien au 418 256 4875 pour plus d'informations.
		<div class="flex_cadre_photo_interieur-text-service-aide">
			<div class="cadre_photo_4"><img src="img/ici_chez_nous/soiree_pizza_1.jpeg" title="soiree pizza"/></div>
			<div class="cadre_photo_4"><img src="img/ici_chez_nous/soiree_pizza_2.jpeg" title="soiree pizza"/></div>
			<div class="cadre_photo_4"><img src="img/ici_chez_nous/soiree_pizza_3.jpeg" title="soiree pizza"/></div> 
			<div class="cadre_photo_4"><img src="img/ici_chez_nous/soiree_pizza_4.jpeg" title="soiree pizza"/></div>
		</div><br>
	</div><br><br>

	<p class="sous_section"> BOURONDI </p>

	<div class="text-service-aide">  
		<b> B.B.Q chez Georges le vendredi 08 Déc 2023 </b> <br>
		À l'occasion de la fête de NOEL, vous êtes toutes et tous conviés chez Georges pour un méchant BBQ. 
		Veuillez contacter Georges au 418 123 4586. <br>
		Voir aussi le <a href="" target="_blank">lien Facebook.</a> <br><br>
		
		<div class="flex_cadre_photo_interieur-text-service-aide">
			<div class="cadre_photo_4"><img src="img/ici_chez_nous/BBQ_1.jpeg" title="BBQ"/></div>
			<div class="cadre_photo_4"><img src="img/ici_chez_nous/BBQ_2.jpeg" title="BBQ"/></div>
			<div class="cadre_photo_4"><img src="img/ici_chez_nous/BBQ_3.jpeg" title="BBQ"/></div>
			<div class="cadre_photo_4"><img src="img/ici_chez_nous/BBQ_4.jpeg" title="BBQ"/></div>
		</div><br>
	</div><br><br>


	<p class="sous_section"> BURKINA </p>
	<div class="text-service-aide">  
		<b> Soirée télévisée match de Soccer au Baobab le 06 Movembre 2023 </b> <br>
		À l'occasion de la demi-final de la coupe d'Europe, qui verra l'Angleterre affronter l'Allemagne, 
		vous êtes toutes et tous convié au B 0105 à partir de 17h30. le match debute à 18h. 
		Veuillez contater Félicien au 418 256 2356 si vous êtes perdu ou n'arrivez pas à retrouver la salle. <br><br>
		
		<div class="flex_cadre_photo_interieur-text-service-aide">
			<div class="cadre_photo_3"><img src="img/ici_chez_nous/soiree_match_soccer_tele_1.jpeg" title="soiree televisée"/></div>
			<div class="cadre_photo_3"><img src="img/ici_chez_nous/soiree_match_soccer_tele_3.jpeg" title="soiree televisée"/></div>
			<div class="cadre_photo_3"><img src="img/ici_chez_nous/soiree_match_soccer_tele_4.jpeg" title="soiree televisée"/></div>
		</div><br>

		<img src="img/ici_chez_nous/soiree_match_soccer_tele_2.jpg" title="soiree televisée"/>
	</div><br><br>

	<p class="sous_section"> CAMEROUN </p>
	<div class="text-service-aide">  
		<b> Activitée Plein-Air le 04 Octobre 2023, au parc Rosaire de chicoutimi </b> <br>
		Vous êtes toutes et tous invités à une activité plein-air qui aura lieu ce 04 Octobre au Parc Rocaise de chicoutimi 
		Pour plus d'information, ou pour orientation sur les lieu, veuillezz vous adresser à Stéphane Yaka au 418 521 6987.<br> 
		<a href="" target="_blank">lien Facebook.</a> <br><br>
		
		<div class="flex_cadre_photo_interieur-text-service-aide">
			<div class="cadre_photo_2"><img src="img/ici_chez_nous/activites_plein_air_1.jpeg" title="activites plein-air"/></div>
			<div class="cadre_photo_2"><img src="img/ici_chez_nous/activites_plein_air_2.jpeg" title="activites plein-air"/></div>
		</div><br>

	</div><br><br>

	<p class="sous_section"> FRANCE </p>
	<div class="text-service-aide">  
		<b> Soirée jeux détente le 15 septembre 2023 </b> <br>
		À l'occasion de la fête de NOEL, vous êtes toutes et tous convié chez Georges. Bla bla bla bla bla ..... Voir le <a href="" target="_blank">lien Facebook.</a> <br><br>
		img/ici_chez_nous
		<div class="flex_cadre_photo_interieur-text-service-aide">
			<div class="cadre_photo_2"><img src="img/ici_chez_nous/soiree_jeux_detente_1.jpeg" title="activites plein-air"/></div>
			<div class="cadre_photo_2"><img src="img/ici_chez_nous/soiree_jeux_detente_3.jpeg" title="activites plein-air"/></div>
			<div class="cadre_photo_2"><img src="img/ici_chez_nous/soiree_jeux_detente_4.jpeg" title="activites plein-air"/></div>
			<div class="cadre_photo_2"><img src="img/ici_chez_nous/soiree_jeux_detente_5.jpeg" title="activites plein-air"/></div>
		</div><br>
		<img src="img/ici_chez_nous/soiree_jeux_detente_6.jpeg" title="activites plein-air"/>
	</div><br><br>

	<p class="sous_section"> GUINÉE </p>
	<div class="text-service-aide">  
		<b> Soiréee gastronimique Guinéenne le 08 Déc 2023 </b> <br>
		À l'occasion de la fête de .... Voir le <a href="" target="_blank">lien Facebook.</a> <br><br>
		
		<div class="flex_cadre_photo_interieur-text-service-aide">
			<div class="cadre_photo_3"><img src="img/ici_chez_nous/soiree_guinee_2.jpeg" title="soiree gastronique guinéenne"/></div>
			<div class="cadre_photo_3"><img src="img/ici_chez_nous/soiree_guinee_4.jpeg" title="soiree gastronique guinéenne"/></div>
			<div class="cadre_photo_3"><img src="img/ici_chez_nous/soiree_guinee_3.jpeg" title="soiree gastronique guinéenne"/></div> 
		</div><br>
		<img src="img/ici_chez_nous/soiree_guinee_1.jpg" title="soiree gastronique guinéenne"/>
	</div><br><br>


	<p class="sous_section"> MALI </p>
	<div class="text-service-aide">  
		<b> Journée culturelle des étudiants maliens </b> <br>
		Toute l'actualité sur les étudiants maliens du Saguenay. <br>
		
		<div class="cadre_video_interieur-text-service-aide">
			<iframe src="https://www.youtube.com/embed/tqfV8jSRdeU?si=Nluom6Fs6IkiVaT5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</div><br><br>

	<hr><br>

	<div class="text-service-aide">
		
		<b>Pour Ajouter un nouvel Évenement ( Partout dans la province du Québec ) : </b> <br> 
		
		Veuillez envoyer un email à <b>oremi.joel@gmail.com</b> dans lequel vous indiquerez : <br><br>
		<b>Titre de l'évenement</b> : Titre de l'evenement (ce qui apparaitra en entete en gras sur la page de site)  <br>
		<b>Type d'évenement</b> : Est-ce un Évenement COMMMUN ou conscerne-t-il un pays en particulier ? indiquez le Pays.  <br>
		<b>Énnoncé</b> : Mettez tous les détails possibles, y compris la date et le lieu.  <br>
		<b>Vos Contacts</b> : Votre nom complet et Numéro de Téléphone (Numéro Facultatif : si les visiteurs veulent vous contacter ).  <br>
		<b>Géo-Localisation</b> : Ville, Adresse de l'évenement, et Établissement scolaire affilié (s'il y a lieu) <br>
		<b>Ajouter un ou plusieurs liens URLs</b> : Si applicable, un lien URL ou on a d'avantages d'informations. Ca peut être sur le site de votre établissement, un lien Facebook, ... (s'il y a lieu). <br>
		<b>Des médias</b> : 1 à 4 images decrivant l'evenement. (désignez laquelle est l'image principale s'il y a une image que vous désirez faire apparaitre en grand)<br>
	
	</div><br><br><br>

{% endblock %}

        
