{% extends "base_1.html" %}

{% block content %}

        <div class="text-service-aide">

            ORE MI est une plateforme d'information et d'accompagnement destinée aux étudiants internationaux.            <br><br>
            
            Elle a pour mission de faciliter votre intégration académique, sociale et culturelle en mettant à 
            votre disposition des ressources fiables, claires et accessibles.                                             <br><br>

            Que vous arriviez pour la première fois dans un nouveau pays ou que vous débutiez un nouveau parcours universitaire, 
            ORE MI vous accompagne à chaque étape.                                                                        <br><br>

            ORE MI tire son nom de l'expression Awon ore mi, qui signifie « MES AMIS ». 
            Ce choix symbolise l'accueil, la solidarité et l'accompagnement au coeur du projet.                           <br><br>
            
            ORE MI est né du constat que de nombreux étudiants internationaux font face à des difficultés d'adaptation :
            Démarches administratives complexes, différences culturelles, Isolement, ou manque d'informations fiables.    <br> <br>

            La plateforme se positionne comme un guide du nouvel arrivant, 
            conçu pour repondre à ses besoins de manière simple, pratique et bienveillante.                               <br>

		</div><br><br>

{% endblock %}

    