{% extends "base_1.html" %}

{% block content %}

        <div class="text-service-aide">
            ORE MI a pour objectif de communiquer 
            TOUTES SORTES D'INFORMATIONS aux étudiants internationaux, de partout dans le monde, 
            pour se sentir chez eux, partout dans les universités d'accueil, 
            de sorte à mener leurs études en toute sérénité. <br>

            ORE MI vient de l'Étymologie Awon ore mi, qui veut dire MES AMIS dans une langue Internationale. 
            Je suis ici, loin de ma famille, mais avec mes amis. <br>

            Il y a plusieurs rubriques selon certaines thématiques recherchées.
		</div><br><br>

{% endblock %}

    