{% extends "base_2.html" %}

{% block content %}

        <div class="text-service-aide">
            TRouvez du temps dans votre semaine pour faire de l'activité sportive. C'est très bénéfique pour votre santé. <br>	
        </div><br><br>
        
        <p class="sous_section"> INSTALLATIONS SPORTIVES ET LEURS AVANTAGES POUR LES ÉTUDIANTS </p>

        <div class="text-service-aide">
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/kDfbdkUefc4?si=aVGTEluhoQRbiuqg"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>     
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/zP9N3BSqQHg?si=aund5km1k0hA2S6V"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>   
            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/Zf_y1KYz3tI?si=Yxru0GsvFvSlDK2R"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>      
        </div><br><br>

        <p class="sous_section"> GÉNÉRALITÉ POUR LES INSTALLATIONS SPORTIVES DE TOUT LE QUÉBEC </p>
        
        <div class="text-service-aide">
            Un Répertoire des <a href="https://www.education.gouv.qc.ca/nous-joindre/unites-regionales-de-loisir-et-de-sport">Unités régionales de loisir et de sport</a> édité par le Ministère de l'Éducation. <br><br>
            Un riche répertoire Ministériel de <a href="https://www.education.gouv.qc.ca/nous-joindre/services-du-domaine-du-sport-et-de-lactivite-physique/partenaires-en-sport-et-activite-physique/">partenaires en sports et activité physique</a>, et d'associations sportives. <br><br>
            Retrouve tous les organismes de la communauté sportive de tout le Québec sur <a href="https://vadoncjouer.ca/organismes-et-activites/">Va donc jouer.ca</a>. <br><br>
            Un guide des <a href="https://www.guides-sports-loisirs.ca/">sports et loisirs</a> pour connaitre tout ce que vous devez savoir autours des sports et loisirs.<br><br>

        </div><br><br><br>

{% endblock %}
        
        

    