{% extends "base_2.html" %}

{% block content %}

        <div class="text-service-aide">
             
            Voici quelques sites utiles dans votre processus d'insertion professionnel après l'obtention de votre diplome : <br><br>
            <ol>
                <li> <b>Radio‑Canada</b> — Conseils pour décrocher un premier emploi et l’importance du <b>réseau</b>, notamment pour les nouveaux arrivants.
                <a href="https://ici.radio-canada.ca/nouvelle/1109384/nouveaux-diplomes-recherche-premier-emploi-contacts-immigrants">Radio-Canada.ca</a></li> <br>

                <li> <b>EduCanada (officiel)</b> — Vivre et <b>travailler après les études</b> : voies possibles, admissibilité et repères administratifs.
                <a href="https://www.educanada.ca/live-work-vivre-travailler/work-travail/after-apres.aspx?lang=fra">educanada.ca</a></li> <br>

                <li> <b>Herzing — Blog</b> — Astuces pour <b>réussir son premier emploi</b> après le collège : attitude, attentes, intégration.
                <a href="https://blog.herzing.ca/fr-ca/conseils-pour-r%C3%A9ussir-votre-premier-emploi-apr%C3%A8s-le-coll%C3%A8ge">blog.herzing.ca</a></li> <br>

                <li> <b>ULaval — Service de placement</b> — Réflexion sur la <b>transition après les études</b> et l’équilibre à retrouver.
                <a href="https://www.sdp.ulaval.ca/blogue/2018/05/03/la-vie-apres-les-etudes-le-desequilibre-creatif/">sdp.ulaval.ca</a></li> <br>

                <li> <b>Déménager au Québec</b> — Guide pratique pour <b>prolonger le permis de travail post‑diplôme (PGWP)</b> (points d’attention).
                <a href="https://www.demenagerauquebec.org/blog/comment-prolonger-le-permis-de-travail-post-diplome/">demenagerauquebec.org</a></li> <br>

                <li> <b>IRCC (officiel)</b> — Centre d’aide sur le <b>PGWP</b> et le travail après les études : réponses aux questions fréquentes.
                <a href="https://ircc.canada.ca/francais/centre-aide/reponse.asp?qnum=519&top=15">ircc.canada.ca</a></li> <br>

                <li> <b>Vidéo — Témoignage</b> — Retour d’expérience sur l’<b>insertion professionnelle</b> et les premiers pas après le diplôme.
                <a href="https://www.facebook.com/JCIRabat/videos/763630044372987">Video Facebook</a></li> <br>
       
            </ol>
            
        </div><br><br><br>

{% endblock %}

        