{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section">GÉNÉRALITÉS</p>
    <div class="text-service-aide">
        En matière <b>d’accessoires</b> (mode, maison, sport, tech), on peut acheter du <b>très abordable</b> (dollar store, friperies) au <b>haut de gamme</b> (boutiques spécialisées). 
        Cette page classe des enseignes populaires en Amérique <b>par ordre croissant de coûts</b> (symboles $ à $$$).
    </div><br><br>

    <p class="sous_section">0. GRATUIVORE - $ -</p>
    <div class="text-service-aide">
        Dons & réemploi (groupes communautaires, ressourceries). Idéal pour de la <b>vaisselle</b>, <b>petits accessoires de maison</b>, <b>écharpes</b>, etc.
        Pensez aussi aux groupes locaux (Facebook Marketplace, ressourceries étudiantes).
        <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img/accessoire/gratuivore_1.jpeg" title="image dollarama"/></div>
          <div class="cadre_photo_4"><img src="img/accessoire/gratuivore_2.jpeg" title="image dollarama"/></div>
          <div class="cadre_photo_4"><img src="img/accessoire/gratuivore_3.jpeg" title="image dollarama"/></div>
          <div class="cadre_photo_4"><img src="img/accessoire/gratuivore_4.jpeg" title="image dollarama"/></div>
      </div>
    </div><br><br>

    <p class="sous_section">1. Dollarama / Dollar Tree - $ -</p>
    <div class="text-service-aide"> 
      <table>
        <tr>
          <td> Type </td>
          <td> Magasins à 1–5 $ (selon articles). </td>
        </tr>
        <tr>
          <td> Courte Description </td>
          <td> Accessoires maison (vaisselle, rangement), papeterie, câbles basiques, gants/bonnets, déco saisonnière. </td>
        </tr>
        <tr>
          <td> Coût moyen </td>
          <td> Très bas ; attention à la durabilité. </td>
        </tr>
      </table>    
      
      <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img/accessoire/dollarama_1.jpeg" title="image dollarama"/></div>
          <div class="cadre_photo_4"><img src="img/accessoire/dollarama_2.jpeg" title="image dollarama"/></div>
          <div class="cadre_photo_4"><img src="img/accessoire/dollarama_3.jpeg" title="image dollarama"/></div>
          <div class="cadre_photo_4"><img src="img/accessoire/dollarama_4.jpeg" title="image dollarama"/></div>
      </div>
    </div><br><br>

    <p class="sous_section">2. Renaissance / Goodwill (friperies) - $ -</p>
    <div class="text-service-aide"> 
      <table>
        <tr>
          <td> Type </td>
          <td> Friperies / seconde main. </td>
        </tr>
        <tr>
          <td> Courte Description </td>
          <td> Accessoires mode (ceintures, foulards, sacs), maison (cadres, lampes), parfois petits appareils. </td>
        </tr>
        <tr>
          <td> Coût moyen </td>
          <td> Bas ; dépend de l’état et de la sélection. </td>
        </tr>

      </table>    
      
      <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img/accessoire/friperie_1.jpeg" title="image friperie"/></div>
          <div class="cadre_photo_4"><img src="img/accessoire/friperie_2.jpeg" title="image friperie"/></div>
          <div class="cadre_photo_4"><img src="img/accessoire/friperie_3.jpeg" title="image friperie"/></div>
          <div class="cadre_photo_4"><img src="img/accessoire/friperie_4.jpeg" title="image friperie"/></div>
      </div>

    </div><br><br>

    <p class="sous_section">3. Five Below - $</p>
    <div class="text-service-aide"> 
      <table>
        <tr>
          <td> Type </td>
          <td> Magasin à bas prix (beaucoup d’articles ≤ 5 $). </td>
        </tr>
        <tr>
          <td> Courte Description </td>
          <td> Accessoires téléphone, déco chambre, sport/loisirs, papeterie tendance. </td>
        </tr>
        <tr>
          <td> Coût moyen </td>
          <td> Bas à modéré ; excellent pour petits gadgets. </td>
        </tr>

      </table>    
      
      <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img\accessoire/five_1.jpeg" title="image dollarama"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/five_2.jpeg" title="image dollarama"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/five_3.jpeg" title="image dollarama"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/five_4.jpeg" title="image dollarama"/></div>
      </div>

    </div><br><br>

    <p class="sous_section">4. Walmart - $</p>
    <div class="text-service-aide"> 
      <table>
        <tr>
          <td> Type </td>
          <td> Grand détaillant généraliste. </td>
        </tr>
        <tr>
          <td> Courte Description </td>
          <td> Accessoires maison (cuisine, rangement), auto, vélo, tech (câbles, coques), mode basique. </td>
        </tr>
        <tr>
          <td> Coût moyen </td>
          <td> Bas à modéré ; vaste choix et marques privées. </td>
        </tr>
      </table>    
      
      <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img\accessoire/walmart_1.jpeg" title="image friperie"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/walmart_2.jpeg" title="image friperie"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/walmart_3.jpeg" title="image friperie"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/walmart_4.jpeg" title="image friperie"/></div>
      </div>

    </div><br><br>

    <p class="sous_section">5. IKEA - $</p>
    <div class="text-service-aide"> 
      <table>
        <tr>
          <td> Type </td>
          <td> Maison & déco, accessoires fonctionnels. </td>
        </tr>
        <tr>
          <td> Courte Description </td>
          <td> Accessoires cuisine, organisation, luminaires, textile maison ; design simple et pratique. </td>
        </tr>
        <tr>
          <td> Coût moyen </td>
          <td> Bas à modéré ; bon rapport utilité/prix. </td>
        </tr>

      </table>    
      
      <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img/accessoire/ikea_1.jpeg" title="image friperie"/></div>
          <div class="cadre_photo_4"><img src="img/accessoire/ikea_2.jpeg" title="image friperie"/></div>
          <div class="cadre_photo_4"><img src="img/accessoire/ikea_3.jpeg" title="image friperie"/></div>
          <div class="cadre_photo_4"><img src="img/accessoire/ikea_4.jpeg" title="image friperie"/></div>
      </div>

    </div><br><br>

    <p class="sous_section">6. Amazon (Basics & Marketplace) - $$</p>
    <div class="text-service-aide"> 
      <table>
        <tr>
          <td> Type </td>
          <td> Marketplace en ligne. </td>
        </tr>
        <tr>
          <td> Courte Description </td>
          <td> Immense catalogue : accessoires tech, sport, maison ; <i>Amazon Basics</i> pour basiques à prix corrects. </td>
        </tr>
        <tr>
          <td> Coût moyen </td>
          <td> Modéré ; comparez les avis et retours. </td>
        </tr>

      </table>    
      
      <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img\accessoire/amazon_1.jpeg" title="image amazon"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/amazon_2.jpeg" title="image amazon"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/amazon_3.jpeg" title="image amazon"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/amazon_4.jpeg" title="image amazon"/></div>
      </div>

    </div><br><br>

    <p class="sous_section">7. Winners / Marshalls / TJ Maxx - $$</p>
    <div class="text-service-aide"> 
      <table>
        <tr>
          <td> Type </td>
          <td> Magasins à rabais de marques. </td>
        </tr>
        <tr>
          <td> Courte Description </td>
          <td> Accessoires mode (sacs, ceintures, chapeaux), maison (linge, déco) – marques à prix réduits. </td>
        </tr>
        <tr>
          <td> Coût moyen </td>
          <td> Modéré ; bonnes affaires selon arrivages. </td>
        </tr>

      </table>    
      
      <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img\accessoire/winners_1.jpeg" title="image dollarama"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/winners_2.jpeg" title="image dollarama"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/winners_3.jpeg" title="image dollarama"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/winners_4.jpeg" title="image dollarama"/></div>
      </div>

    </div><br><br>

    <p class="sous_section">8. Decathlon - $$</p>
    <div class="text-service-aide"> 
      <table>
        <tr>
          <td> Type </td>
          <td> Sport & plein air. </td>
        </tr>
        <tr>
          <td> Courte Description </td>
          <td> Accessoires sport (gants, sacs, gourdes), vélo, randonnée, fitness – bon rapport qualité/prix. </td>
        </tr>
        <tr>
          <td> Coût moyen </td>
          <td> Modéré ; entrée/moyenne gamme robuste. </td>
        </tr>

      </table>    
      
      <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img\accessoire/decathlon_1.jpeg" title="image decathlon"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/decathlon_2.jpeg" title="image decathlon"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/decathlon_3.jpeg" title="image decathlon"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/decathlon_4.jpeg" title="image decathlon"/></div>
      </div>

    </div><br><br>

    <p class="sous_section">9. Best Buy - $$</p>
    <div class="text-service-aide"> 
      <table>
        <tr>
          <td> Type </td>
          <td> Électronique & accessoires tech. </td>
        </tr>
        <tr>
          <td> Courte Description </td>
          <td> Casques, claviers, câbles, hubs, stockage, accessoires gaming ; marques variées. </td>
        </tr>
        <tr>
          <td> Coût moyen </td>
          <td> Modéré à élevé selon la marque. </td>
        </tr>

      </table>    
      
      <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img\accessoire/best_buy_1.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/best_buy_2.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/best_buy_3.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/best_buy_4.jpeg" title="image best buy"/></div>
      </div>

    </div><br><br>

    <p class="sous_section">10. Simons / The Bay - $$</p>
    <div class="text-service-aide"> 
      <table>
        <tr>
          <td> Type </td>
          <td> Grands magasins (mode & maison). </td>
        </tr>
        <tr>
          <td> Courte Description </td>
          <td> Accessoires mode & maison, sélections design ; prix variables selon marque. </td>
        </tr>
        <tr>
          <td> Coût moyen </td>
          <td> Modéré à élevé ; surveiller les soldes. </td>
        </tr>

      </table>    
      
      <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img\accessoire/simons_labaie_1.jpeg" title="image simon"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/simons_labaie_2.jpeg" title="image simon"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/simons_labaie_3.jpeg" title="image simon"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/simons_labaie_4.jpeg" title="image simon"/></div>
      </div>

    </div><br><br>

    <p class="sous_section">11. Apple / Boutiques spécialisées - $$$</p>
    <div class="text-service-aide"> 
      <table>
        <tr>
          <td> Type </td>
          <td> Accessoires haut de gamme / officiels. </td>
        </tr>
        <tr>
          <td> Courte Description </td>
          <td> Accessoires originaux (chargeurs, coques premium, audio), design et service ; prix élevé. </td>
        </tr>
        <tr>
          <td> Coût moyen </td>
          <td> Élevé ; privilégier quand la qualité/compatibilité est critique. </td>
        </tr>

      </table>    
      
      <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img\accessoire/apple_1.jpeg" title="image apple"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/apple_2.jpeg" title="image apple"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/apple_3.jpeg" title="image apple"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/apple_4.jpeg" title="image apple"/></div>
      </div>

    </div><br><br><br>

{% endblock %}

    
    
