{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section">GÉNÉRALITÉS</p>
<div class="text-service-aide">
Cette page liste des enseignes où acheter des <b>vêtements au Québec</b>, classées par <b>coût croissant</b> (symboles $ à $$$$).
On couvre les options <b>économiques</b> (friperies, rabais) jusqu’aux <b>marques premium</b> (manteaux d'hiver, cuir).
</div><br><br>

<p class="sous_section">0. GRATUIT / RÉEMPLOI - $ -</p>
<div class="text-service-aide"> 
  <table>
    <tr>
      <td> Type </td>
      <td> Dons & réemploi : groupes communautaires, ressourceries étudiantes, Marketplace. </td>
    </tr>
    <tr>
      <td> Courte Description </td>
      <td> Idéal pour basiques : manteaux d’occasion, foulards, bonnets, gants, vêtements de tous les jours. </td>
    </tr>
    <tr>
      <td> Coût moyen </td>
      <td> Gratuit à symbolique ; qualité variable. </td>
    </tr>

  </table>    
  
        <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img/vetements/gratuits_1.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img/vetements/gratuits_2.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img/vetements/gratuits_3.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img/vetements/gratuits_4.jpeg" title="image best buy"/></div>
        </div>

</div><br><br>

<p class="sous_section">1. FRIPERIES (Renaissance, Armée du Salut, Village des Valeurs) - $ -</p>
<div class="text-service-aide"> 
  <table>
    <tr>
      <td> Type </td>
      <td> Seconde main / thrift. </td>
    </tr>
    <tr>
      <td> Courte Description </td>
      <td> Jeans, manteaux, pulls, accessoires ; choix large selon arrivages. </td>
    </tr>
    <tr>
      <td> Coût moyen </td>
      <td> Bas ; excellente valeur si triée avec soin. </td>
    </tr>

  </table>    
  
  <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img/vetements/fripperie_1.jpeg" title="image fripperie rennaissance"/></div>
          <div class="cadre_photo_4"><img src="img/vetements/fripperie_2.jpeg" title="image fripperie rennaissance"/></div>
          <div class="cadre_photo_4"><img src="img/vetements/fripperie_3.jpeg" title="image fripperie rennaissance"/></div>
          <div class="cadre_photo_4"><img src="img/vetements/fripperie_4.jpeg" title="image fripperie rennaissance"/></div>
        </div>

</div><br><br>

<p class="sous_section">2. AUBAINERIE / TIGRE GÉANT / WALMART - $</p>
<div class="text-service-aide"> 
  <table>
    <tr>
      <td> Type </td>
      <td> Bas prix / familles / étudiants. </td>
    </tr>
    <tr>
      <td> Courte Description </td>
      <td> Basiques abordables : t-shirts, joggers, vêtements hiver d’entrée de gamme. </td>
    </tr>
    <tr>
      <td> Coût moyen </td>
      <td> Bas ; rapport qualité/prix correct pour l’essentiel. </td>
    </tr>

  </table>    
  
        <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img/vetements/tigre_geant_1.jpeg" title="image tigre géant"/></div>
          <div class="cadre_photo_4"><img src="img/vetements/tigre_geant_2.jpeg" title="image tigre géant"/></div>
          <div class="cadre_photo_4"><img src="img/vetements/tigre_geant_3.jpeg" title="image tigre géant"/></div>
          <div class="cadre_photo_4"><img src="img/vetements/tigre_geant_4.jpeg" title="image tigre géant"/></div>
        </div>

</div><br><br>

<p class="sous_section">3. WINNERS / MARSHALLS - $ à $$</p>
<div class="text-service-aide"> 
  <table>
    <tr>
      <td> Type </td>
      <td> Magasins à rabais de marques. </td>
    </tr>
    <tr>
      <td> Courte Description </td>
      <td> Trouvailles intéressantes (manteaux, chaussures, accessoires) à prix réduits. </td>
    </tr>
    <tr>
      <td> Coût moyen </td>
      <td> Bas à modéré ; dépend des arrivages. </td>
    </tr>

  </table>    
  
        <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_1.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_2.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_3.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/besjt_buy_4.jpeg" title="image best buy"/></div>
        </div>

</div><br><br>

<p class="sous_section">4. H&M / OLD NAVY / ZARA / UNIQLO* - $$</p>
<div class="text-service-aide"> 
  <table>
    <tr>
      <td> Type </td>
      <td> Basiques tendance / fast fashion. </td>
    </tr>
    <tr>
      <td> Courte Description </td>
      <td> Essentiels de saison, parkas légères, pulls, chemises ; retours faciles. </td>
    </tr>
    <tr>
      <td> Coût moyen </td>
      <td> Modéré ; qualité variable selon gammes. </td>
    </tr>

  </table>    
  
        <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_1.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_2.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_3.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_4.jpeg" title="image best buy"/></div>
        </div>

</div><br><br>

<p class="sous_section">5. SIMONS - $$</p>
<div class="text-service-aide"> 
  <table>
    <tr>
      <td> Type </td>
      <td> Grands magasins québécois (mode & maison). </td>
    </tr>
    <tr>
      <td> Courte Description </td>
      <td> Marques maison & designers, manteaux d’hiver, tricots, accessoires. </td>
    </tr>
    <tr>
      <td> Coût moyen </td>
      <td> Modéré à élevé ; soldes fréquentes. </td>
    </tr>

  </table>    
  
        <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_1.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_2.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_3.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_4.jpeg" title="image best buy"/></div>
        </div>

</div><br><br>

<p class="sous_section">6. SPORTS EXPERTS / DECATHLON - $$</p>
<div class="text-service-aide"> 
  <table>
    <tr>
      <td> Type </td>
      <td> Sport, plein air, vêtements techniques. </td>
    </tr>
    <tr>
      <td> Courte Description </td>
      <td> Sous-couches thermiques, vestes softshell, gants techniques, chaussures. </td>
    </tr>
    <tr>
      <td> Coût moyen </td>
      <td> Modéré ; bon rapport utilité/prix pour l’hiver. </td>
    </tr>

  </table>    
  
        <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_1.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_2.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_3.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/bjest_buy_4.jpeg" title="image best buy"/></div>
        </div>

</div><br><br>

<p class="sous_section">7. LA BAIE D’HUDSON (THE BAY) - $$ à $$$</p>
<div class="text-service-aide"> 
  <table>
    <tr>
      <td> Type </td>
      <td> Grand magasin multi‑marques. </td>
    </tr>
    <tr>
      <td> Courte Description </td>
      <td> Sélection large (travail, soirée, chaussures, accessoires). </td>
    </tr>
    <tr>
      <td> Coût moyen </td>
      <td> Modéré à élevé ; surveiller les promotions. </td>
    </tr>

  </table>    
  
        <div class="flex_cadre_ohoto_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img\accessoire/besjt_buy_1.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/besjt_buy_2.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/besjt_buy_3.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/besjt_buy_4.jpeg" title="image best buy"/></div>
        </div>

</div><br><br>

<p class="sous_section">8. BOUTIQUES LOCALES (TRISTAN, FRANK AND OAK, …) - $$ à $$$</p>
<div class="text-service-aide"> 
  <table>
    <tr>
      <td> Type </td>
      <td> Marques québécoises & boutiques de quartier. </td>
    </tr>
    <tr>
      <td> Courte Description </td>
      <td> Pièces mieux finies, coupes soignées, choix responsable (matières). </td>
    </tr>
    <tr>
      <td> Coût moyen </td>
      <td> Modéré à élevé ; durabilité supérieure. </td>
    </tr>

  </table>    
  
        <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_1.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_2.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/bejst_buy_3.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/besbt_buy_4.jpeg" title="image best buy"/></div>
        </div>

</div><br><br>

<p class="sous_section">9. MANTEAUX D’HIVER & CUIR (KANUK, RUDSAK, MACKAGE, …) - $$$ à $$$$</p>
<div class="text-service-aide"> 
  <table>
    <tr>
      <td> Type </td>
      <td> Haut de gamme / performance hiver. </td>
    </tr>
    <tr>
      <td> Courte Description </td>
      <td> Parkas très chauds, isolation de qualité, cuir ; prix élevés mais longue durée. </td>
    </tr>
    <tr>
      <td> Coût moyen </td>
      <td> Élevé à très élevé ; achat long terme. </td>
    </tr>

  </table>    
  
        <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img\accessoire/begst_buy_1.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/begst_buy_2.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/begst_buy_3.jpeg" title="image best buy"/></div>
          <div class="cadre_photo_4"><img src="img\accessoire/begst_buy_4.jpeg" title="image best buy"/></div>
        </div>

</div><br><br>

<p class="sous_section">10. EN LIGNE (BOUTIQUES OFFICIELLES & MARKETPLACES) - $ à $$$$</p>
<div class="text-service-aide"> 
  <table>
    <tr>
      <td> Type </td>
      <td> Sites des enseignes + marketplaces. </td>
    </tr>
    <tr>
      <td> Courte Description </td>
      <td> Pratique pour comparer tailles/couleurs, retours ; attention aux délais et frais. </td>
    </tr>
    <tr>
      <td> Coût moyen </td>
      <td> Tous budgets ; vérifier politiques de retour. </td>
    </tr>

  </table>    
  
        <div class="flex_cadre_photo_interieur-text-service-aide">
          <div class="cadre_photo_4"><img src="img/vetements/gratguits_1.jpeg" title="image gratuits"/></div>
          <div class="cadre_photo_4"><img src="img/vetements/gratguits_2.jpeg" title="image gratuits"/></div>
          <div class="cadre_photo_4"><img src="img/vetements/gratguits_3.jpeg" title="image gratuits"/></div>
          <div class="cadre_photo_4"><img src="img/vetements/gragtuits_4.jpeg" title="image gratuits"/></div>
        </div>

</div><br><br><br>

{% endblock %}