{% extends "base_2.html" %}

{% block content %}

       <p class="sous_section"> GÉNÉRALITÉS </p>
        <div class="text-service-aide">
            Générallement, en terme de nourriture, les moins chères sont les fast-food. 
            Ensuite viennent les restaurants. 
            Il y a aussi les magasins qui offrent des collations ( chips, goûtés, biscuits et jus ) à prix très abordables 
        </div><br><br>

        <p class="sous_section">0. GRATUIVORE - $ - </p>
        <div class="text-service-aide">
            Tout est gratuit à  <a href="https://ckaj.org/les-gratuivores-de-saguenay-distribuent-des-fournitures-scolaires-usagees-pour-lutter-contre-le-gaspillage/">Gratuivore</a>.<br><br>   
            <div class="flex_cadre_photo_interieur-text-service-aide">
                <div class="cadre_photo_3"><img src="img/nourriture/gratuivore_1.jpeg" title="image gratuivore"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/gratuivore_2.jpeg" title="image gratuivore"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/gratuivore_3.jpeg" title="image gratuivore"/></div>
            </div>
        </div><br><br>

        <p class="sous_section">1. DOLLARAMA - $ - </p>
        <div class="text-service-aide">
            L'incontestable, incontournable, imbattable est sans débats <a href="https://www.dollarama.com/fr-ca/">le Dollarama</a>.<br><br>   
            <div class="flex_cadre_photo_interieur-text-service-aide">
                <div class="cadre_photo_3"><img src="img/nourriture/dollarama_1.jpeg" title="image Dollarama"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/dollarama_2.jpeg" title="image Dollarama"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/dollarama_3.jpeg" title="image Dollarama"/></div>
            </div>
        </div><br><br>

        <p class="sous_section">2. Maxi / Maxi plus - $ - </p>
        <div class="text-service-aide">
            L'incontestable, incontournable, imbattable est sans débats <a href="https://www.dollarama.com/fr-ca/">Maxi</a>.<br><br>   
            <div class="flex_cadre_photo_interieur-text-service-aide">
                <div class="cadre_photo_3"><img src="img/nourriture/maxi_1.jpeg" title="image Maxi"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/maxi_2.jpeg" title="image Maxi"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/maxi_3.jpeg" title="image Maxi"/></div>
            </div>
        </div><br><br>

        
        <p class="sous_section">3. Aldi - $ </p>
        <div class="text-service-aide"> 
            <table>
                <tr>
                    <td> Type </td>
                    <td> Supermarché à prix réduit </td>
                </tr>
                <tr>
                    <td> Courte Description</td>
                    <td> Supermarché à prix réduit, <a href="https://www.aldi.us/">Aldi</a> vend principalement des marques privées et un choix limité pour maintenir les prix bas. </td>
                </tr>
                <tr>
                    <td> Coût moyen </td>
                    <td> Très économique, en particulier pour les articles de base. </td>
                </tr>
            </table>    
    
            <div class="flex_cadre_photo_interieur-text-service-aide">
                <div class="cadre_photo_3"><img src="img/nourriture/aldi_1.jpeg" title="image Aldi"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/aldi_2.jpeg" title="image Aldi"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/aldi_3.jpeg" title="image Aldi"/></div>
            </div>
        </div><br><br>


        <p class="sous_section">4. Walmart - $</p>
        <div class="text-service-aide"> 
            <table>
                <tr>
                    <td> Type </td>
                    <td> Supermarché à grande échelle </td>
                </tr>
                <tr>
                    <td> Courte Description</td>
                    <td> Grand détaillant connu pour ses prix bas, offre des options de marques privées et nationales. L'un des détaillants les moins chers pour la nourriture en Amérique avec des marques privées et des options de marques populaires. </td>
                </tr>
                <tr>
                    <td> Coût moyen </td>
                    <td> Faible, avec une large gamme de produits abordables. </td>
                </tr>
            </table>    
    
            <div class="flex_cadre_photo_interieur-text-service-aide">
                <div class="cadre_photo_3"><img src="img/nourriture/walmart_1.jpeg" title="image Walmart"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/walmart_2.jpeg" title="image Walmart"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/walmart_3.jpeg" title="image Walmart"/></div>
            </div>
        </div><br><br>


        <p class="sous_section">5. Costco - $</p>
        <div class="text-service-aide"> 
            <table>
                <tr>
                    <td> Type </td>
                    <td> Magasin de gros (membership requis) </td>
                </tr>
                <tr>
                    <td> Courte Description</td>
                    <td> Magasin de gros (adhésion requise), permet d'acheter en vrac pour un coût unitaire réduit. Vendu en vrac, ce qui réduit le coût par unité.</td>
                </tr>
                <tr>
                    <td> Coût moyen </td>
                    <td> Économique pour les gros achats, mais nécessite un abonnement annuel. </td>
                </tr>
            </table>    
    
            <div class="flex_cadre_photo_interieur-text-service-aide">
                <div class="cadre_photo_3"><img src="img/nourriture/costco_1.jpeg" title="image Costco"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/costco_2.jpeg" title="image Costco"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/costco_3.jpeg" title="image Costco"/></div>
            </div>
        </div><br><br>


        <p class="sous_section">6. Trader Joe's - $$</p>
        <div class="text-service-aide"> 
            <table>
                <tr>
                    <td> Type </td>
                    <td> Épicerie spécialisée </td>
                </tr>
                <tr>
                    <td> Courte Description</td>
                    <td> Supermarché spécialisé avec des produits uniques et des marques maison de qualité à prix raisonnables. Connu pour ses produits uniques et ses marques maison abordables.</td>
                </tr>
                <tr>
                    <td> Coût moyen </td>
                    <td> Modéré, mais avec un bon rapport qualité-prix. </td>
                </tr>
            </table> 
            <div class="flex_cadre_photo_interieur-text-service-aide">
                <div class="cadre_photo_3"><img src="img/nourriture/traders_joe_1.jpeg" title="Trader Joe's"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/traders_joe_2.jpeg" title="Trader Joe's"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/traders_joe_3.jpeg" title="Trader Joe's"/></div>
            </div>
        </div><br><br>

        <p class="sous_section">7. Target - $$</p>
        <div class="text-service-aide"> 
            <table>
                <tr>
                    <td> Type </td>
                    <td> Grand magasin avec une section épicerie </td>
                </tr>
                <tr>
                    <td> Courte Description </td>
                    <td> Grande chaîne de magasins avec une section épicerie abordable, comparable à Walmart pour les marques privées. </td>
                </tr>
                <tr>
                    <td> Caractéristique </td>
                    <td> Supermarché spécialisé avec des produits uniques et des marques maison de qualité à prix raisonnables. Connu pour ses produits uniques et ses marques maison abordables.</td>
                </tr>
                <tr>
                    <td> Coût moyen </td>
                    <td> Modéré, souvent comparable à Walmart pour les marques privées. </td>
                </tr>
            </table> 
            <div class="flex_cadre_photo_interieur-text-service-aide">
                <div class="cadre_photo_4"><img src="img/nourriture/target_1.jpeg" title="image target"/></div>
                <div class="cadre_photo_4"><img src="img/nourriture/target_2.jpeg" title="image target"/></div>
                <div class="cadre_photo_4"><img src="img/nourriture/target_3.jpeg" title="image target"/></div>
                <div class="cadre_photo_4"><img src="img/nourriture/target_4.jpeg" title="image target"/></div>
            </div>
        </div><br><br>

        <p class="sous_section">8. Kroger - $$</p>
        <div class="text-service-aide"> 
            <table>
                <tr>
                    <td> Type </td>
                    <td> Supermarché de taille moyenne </td>
                </tr>
                <tr>
                    <td> Courte Description</td>
                    <td> Supermarché généraliste, propose des marques nationales et privées avec des prix compétitifs..</td>
                </tr>
                <tr>
                    <td> Caractéristiques</td>
                    <td> Offre de nombreuses marques privées ainsi que des produits frais à prix compétitifs.</td>
                </tr>
                <tr>
                    <td> Coût moyen </td>
                    <td> Modéré à élevé selon les produits. </td>
                </tr>
            </table> 
            <div class="flex_cadre_photo_interieur-text-service-aide">
                <div class="cadre_photo_4"><img src="img/nourriture/kroger_1.jpeg" title="image kroger"/></div>
                <div class="cadre_photo_4"><img src="img/nourriture/kroger_2.jpeg" title="image kroger"/></div>
                <div class="cadre_photo_4"><img src="img/nourriture/kroger_3.jpeg" title="image kroger"/></div>
                <div class="cadre_photo_4"><img src="img/nourriture/kroger_4.jpeg" title="image kroger"/></div>
            </div>
        </div><br><br>

        <p class="sous_section">9. Safeway - $$</p> 
        <div class="text-service-aide"> 
            <table>
                <tr>
                    <td> Type </td>
                    <td> Supermarché </td>
                </tr>
                <tr>
                    <td> Courte Description</td>
                    <td> Supermarché traditionnel avec des marques privées et nationales ; prix généralement plus élevés que Walmart.</td>
                </tr>
                <tr>
                    <td> Caractéristique</td>
                    <td> Propose une large gamme de produits alimentaires et de marques, mais avec des prix généralement plus élevés que Walmart et Aldi.</td>
                </tr>
                <tr>
                    <td> Coût moyen </td>
                    <td> Moyennement élevé. </td>
                </tr>
            </table> 
            <div class="flex_cadre_photo_interieur-text-service-aide">
                <div class="cadre_photo_3"><img src="img/nourriture/safeway_1.jpeg" title="image Safeway"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/safeway_2.jpeg" title="image Safeway"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/safeway_3.jpeg" title="image Safeway"/></div>
            </div>
        </div><br><br>
        

        <p class="sous_section">10. Whole Foods Market</p>
        <div class="text-service-aide"> 
            <table>
                <tr>
                    <td> Type </td>
                    <td> Supermarché haut de gamme </td>
                </tr>
                <tr>
                    <td> Caractéristique</td>
                    <td> Connu pour ses produits biologiques et naturels ; souvent plus cher.</td>
                </tr>
                <tr>
                    <td> Coût moyen </td>
                    <td> Élevé, mais avec une attention particulière à la qualité et aux normes biologiques. </td>
                </tr>
            </table> 
            <div class="flex_cadre_photo_interieur-text-service-aide">
                <div class="cadre_photo_3"><img src="img/nourriture/foods_market_1.jpeg" title="image Foods Market"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/foods_market_2.jpeg" title="image Foods Market"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/foods_market_3.jpeg" title="image Foods Market"/></div>
            </div>
        </div><br><br>


        <p class="sous_section">11. Amazon Fresh - $$</p>
        <div class="text-service-aide"> 
            <table>
                <tr>
                    <td> Type </td>
                    <td> Livraison d'épicerie en ligne </td>
                </tr>
                <tr>
                    <td> Courte Description </td>
                    <td> Livraison d'épicerie en ligne, des prix modérés avec certains produits exclusifs d'Amazon. </td>
                </tr>
                <tr>
                    <td> Caractéristique </td>
                    <td> Épicerie livrée à domicile ; prix similaires à Whole Foods avec quelques produits moins chers..</td>
                </tr>
                <tr>
                    <td> Coût moyen </td>
                    <td> Modérément élevé, surtout pour les produits frais. </td>
                </tr>
            </table> 
            <div class="flex_cadre_photo_interieur-text-service-aide">
                <div class="cadre_photo_3"><img src="img/nourriture/amazon_fresh_1.jpeg" title="image Amazon Fresh"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/amazon_fresh_2.jpeg" title="image Amazon Fresh"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/amazon_fresh_3.jpeg" title="image Amazon Fresh"/></div>
            </div>
        </div><br><br>


        <p class="sous_section">12. Instacart (service de livraison) - $$$</p>
        <div class="text-service-aide"> 
            <table>
                <tr>
                    <td> Type </td>
                    <td> Livraison pour diverses épiceries </td>
                </tr>
                <tr>
                    <td> Courte Description</td>
                    <td> Service de livraison d’épicerie pour diverses enseignes ; Les prix incluent souvent des frais de livraison et les majorations selon le magasin.
                         Ces classifications peuvent varier en fonction de l'emplacement, des promotions et des types de produits achetés.</td>
                </tr>
                <tr>
                    <td> Coût moyen </td>
                    <td> Varie selon les magasins choisis, généralement élevé avec les frais supplémentaires. Les prix peuvent fluctuer en fonction de la localisation et des promotions saisonnières.</td>
                </tr>
            </table> 
            <div class="flex_cadre_photo_interieur-text-service-aide">
                <div class="cadre_photo_3"><img src="img/nourriture/instacart_1.jpeg" title="image Instacart"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/instacart_2.jpeg" title="image Instacart"/></div>
                <div class="cadre_photo_3"><img src="img/nourriture/instacart_3.jpeg" title="image Instacart"/></div>
            </div>
        </div><br><br><br>

{% endblock %}
        
        