{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section"> BESOIN EN MAIN D'OEUVRE </p>
        <div class="text-service-aide">
            ORE MI est une idée qui a pris ses ressources au Saguenay Lac-Saint Jean, 
            au coeur de l'UQAC, qui s'est mis au service de toute la province du Québec. 
            L'idée initiale était de rencontrer les besoins du Saguenay, 
            mais ce qui est vrai pour le Saguenay, est potentiellement vrai pour toute la région du Québec. 
            Mais ce qui est vrai pour le Québec, n'est pas forcement vrai pour l'Ontario, 
            encore moins pour New-York, ou encore, la Région de Paris, Moscou, Pékin, ... <br><br>

            Alors nous invitons les étudiants finissants (ou nouveau diplomé à la recherche d'emplois) 
            dans toutes les régions du monde à se joindre à nous. 
            Nous ne pouvons pas prendre tous les postulants !! impossible; 
            nous visons un minimum de 11 étudiants par pays, 
            les 11 répartis sur 11 disciplines différentes, 
            chacun connaissant à peu près les difficultés auxquelles les étudiants sont confrontés dans les pays respectifs. ... <br><br>

            A l'interne nous leur dirons ce sera quoi leurs mandats, 
            et solliciteront leurs créativités de solution de problème par rapport à leurs vécus lèa oèu ils étudient. 
            CA VA ËTRE UNE DINGUERIE, ce qu'ORE MI s'apprete à vous fournir comme contenu. <br><br>
        </div><br><br>

        <p class="sous_section"> BESOIN EN FINANCEMENT </p>
        <div class="text-service-aide">
            Ce projet a été mis en ligne avec un budget-Étudiant. 
            Si vous estimez qu'il est pertinent, très utile pour la communauté internationale, 
            nous vous prions de nous donner des coups de pouce pour que nous puissions engager des 
            stagiaires de partout dans le monde, 
            qui nous aiderons à l'étendre pour toutes les régions interessées à être desservies. <br><br>
            
            Donc ORE MI paiera ses stagiaires, une facon pour ORE MI de donner des stages à des finissants partout à travers le monde.    
        </div><br><br><br>

{% endblock %}
        
        