{% extends "base_2.html" %}

{% block content %}

        <div class="limite-video">
		<!--- Musique et Nature --->
		<div class="text-service-aide">
                        <b> Contexte et enjeux </b><br>
                        ORE MI vient de l'Étymologie Awon ore mi, qui veut dire MES AMIS dans une langue Internationale. 
                        Je suis ici, loin de ma famille, mais avec mes amis. <br>

                        Le projet consiste à vous offrir un site internet visant à faciliter l'intégration des étudiants 
                        internationaux partout au Québec, en partant du Saguenay, et plutard, avec plus de ressources, des partenaires- collaborateurs 
                        dans le reste du monde. <br>

                        Le Québec est une destination attrayante pour les étudiants internationaux en raison de ses 
                        établissements d'enseignement de qualité et de son environnement naturel exceptionnel. 
                        Cependant, il existe un besoin de centraliser les informations et 
                        les services pertinents pour faciliter l'arrivée et l'adaptation des étudiants internationaux. <br><br>
                        
                        <b> Objectifs et cibles </b><br>

                        Les objectifs du site sont les suivants :                                                          <br> 
                        - Fournir des informations claires et complètes sur les procédures d'admission et d'inscription 
                        dans les établissements d'enseignement du Saguenay.                                                <br>
                        - Présenter les services d'accueil disponibles pour les étudiants internationaux, 
                        tels que l'hébergement, le transport, les services de santé et les installations sportives.        <br> 
                        - Promouvoir les activités culturelles et les ressources locales de la région.                     <br>
                        - Faciliter la communication et l'échange d'informations entre les étudiants internationaux.       <br>
                        - Les principales cibles du site sont les étudiants internationaux qui envisagent 
                        de venir étudier au Québec, ainsi que les organismes et les services locaux qui soutiennent 
                        l'intégration des étudiants internationaux.                                                  <br><br>	   
		</div> 
	</div><br><br><br>

{% endblock %}
        
        
