{% extends "base_2.html" %}

{% block content %}

        <div class="text-service-aide">
            <a href="#" title="Section pas encore disponible">Chercher une ribrique sur le site</a><br><br>
            <a href="/nous_contacter.html" title="">Communiquer avec les responsables du site</a><br><br>
            <a href="/communiquer_avec_notre_IA.html" title="">Communiquer instantanément avec notre IA:</a><br>
        </div><br><br>

{% endblock %}
        
        <p class="sous_section"> Contacter notre équipe </p>
        
        <div class="text-service-aide">
            <b>La Co-Fondatrice et Visionnaire : Tiffany Paul Yaka</b>
            <ul>
                <li> Vous avez une chaine Youtube, Tik-Tok qui informe les visiteurs sur                             </li> 
                les lois d'immigration dans votre pays, ou autre contenu susceptible d'interesser des étudiants,     </li> 
                <li> Vous avez un compte Whatsap oèu vous organisez des réunions virtuels d'information,             </li> 
                <li> Vous vendez des produits avec rabais étudiants qui pourraient rencontrer les besoins des étudiants,   </li> 
            </ul>

            <font color="blue">
                  Veuillez contacter : Tiffany au (001) 581 995 3168 par texto                       <br>
                  ou par email [ email : oremi.tiffany@gmail.com ]                               <br><br>
            </font>

            <b>Le Co-Fondateur et Directeur technique : Joel Sandé</b>
            <ul>
                <li> Pour toute question, préoccupation technique, concernant le site lui même,         </li>         
                <li> Vous êtes passionné, et surtout avez des compétences en programmation web,         </li> 
                en sécurité informatique, et que vous aimez bien ce projet,                           
                <li> Vous voulez faire partie des 10 recrues par pays (voir rubrique nos partenaires),  </li> 
            </ul>
            
            <font color="blue">
                  Veuillez contacter : Joel au (001) 514 677 2696 par texto                          <br>
                  ou par email [ email : oremi.joel@gmail.com / sujet : bla bla bla ]
            </font>   
            
        </div><br><br><br><br>
        
        <!-- Le pied de page -->
        <footer>
            Venez visiter le site et surtout, n'oubliez pas de nous laisser vos commentaires pour pouvoir l'améliorer pour le profit de toute la communauté internationalle <br>
            | Tout Droits Réservés |                                 <br>
            Idée de conception et Co-fondatrice : Paule Tiffany Yaka <br>
            Webmaster et Co-fondateur : Joel Sandé                   <br>
            Conseiller Général, Sénior : Frederic Wappi              <br>

            Nous invitons les étudiants aspirants aux stages à se joindre à nous pour bonifier le site de sorte à mieux désservir la population.
            Seuls les étudiants connaissent les besoins des étudiants. Des Ribriques DINGUES seront ajoutées. Ceci n'est que le Début d'une belle aventure sociale partant de la région du Québec. 
            Les bénéfices s'il y en a, nous permettront d'aider les étudiants talentueux (mode, culture, art, génie, activité extra-scolaires, ...) 
            en difficultés ... Nous allons mettre aussi beaucoup l'accent sur la Vie après les études, car c'est inadmissible que des étudiants se retrouvent au chomage aprèes 2, 3, 4 années d'études. 
            Nous avons pensé à tout celà et nous allons vous montrer les solutions concrètes et évidentes dans la Rubrique 'Forum de Discussion' qui sera bientôt disponbles.
        </footer>
	</body>

</html>