{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section"> Contacter notre équipe </p>
        
        <div class="text-service-aide">
            <b>La Co-Fondatrice et Visionnaire : Paule Tiffany Yaka</b>
            <ul>
                <li> Vous avez une chaine Youtube, Tik-Tok qui informe les visiteurs sur                             </li> 
                les lois d'immigration dans votre pays, ou autre contenu susceptible d'interesser des étudiants,     </li> 
                <li> Vous avez un compte Whatsap oèu vous organisez des réunions virtuels d'information,             </li> 
                <li> Vous vendez des produits avec rabais étudiants qui pourraient rencontrer les besoins des étudiants,   </li> 
            </ul>

            <font color="blue">
                  Veuillez contacter : Tiffany au (001) 581 995 3168 par texto                           <br>
                  ou par email [ email : oremi.tiffany@gmail.com ]                                   <br><br>
            </font>

            <b>Le Co-Fondateur et Directeur technique : Joel Sandé</b>
            <ul>
                <li> Pour toute question, préoccupation technique, concernant le site lui même,         </li>         
                <li> Vous êtes passionné, et surtout avez des compétences en programmation web,         </li> 
                en sécurité informatique, et que vous aimez bien ce projet,                           
                <li> Vous voulez faire partie des 10 recrues par pays (voir rubrique nos partenaires),  </li> 
            </ul>
            
            <font color="blue">
                  Veuillez contacter : Joel au (001) 514 677 2696 par texto                             <br>
                  ou par email [ email : oremi.joel@gmail.com / sujet : bla bla bla ]
            </font>   
            
        </div><br><br><br>

{% endblock %}
        
        
        
    