{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section"> GÉNÉRALITÉS </p>
        <div class="text-service-aide">
            Trouver des <a href="{{ url_for('magasiner_vetements') }}" title="">vêtements</a> du moins chère au plus chère<br><br>
            Trouver des <a href="{{ url_for('magasiner_accessoires') }}" title="">accessoires</a> du moins chère au plus chère<br><br>
            Trouver des <a href="{{ url_for('magasiner_nourritures') }}" title="">restaurants</a> du moins chère au plus chère<br>
        </div><br><br>

{% endblock %}
        
       
        