{% extends "base_2.html" %}

{% block content %}

        <div class="text-service-aide">
            <a href="{{ url_for('evenements_a_venir') }}" title="">Évènements à Venir</a> :  Ce sont des évenements de type Carrière : évènements socio-professionnels, conférences, rencontre d'affaires, emplois, entrepreunariat. <br><br>
            <a href="{{ url_for('ici_chez_nous') }}" title="">Ici chez nous</a> :  Faciliter la communication et l'échange d'informations entre les étudiants internationaux. <br>
        </div><br><br>

{% endblock %}
        
