{% extends "base_1.html" %}

{% block content %}

    <div class="text-service-aide">
        - Tu veux entreprendre un séjour d'études à l'étranger mais tu ne sais pas par ou commencer tes démarches administratives ?                             <br><br>
        - Tu hésites même dans quelle ville du Québec aller étudier dépendemment de la filiaire visée ou de ta situation (si biensûr tu vises le Québec) ?      <br><br>
        - Tu recherches une plateforme oèu tu pourras t'informer, poser des questions, et retrouver d'autres postulants ayant les mêmes préocupations que toi ? <br><br>
        - Tu recherches une plateforme oèu tu retrouves les mises-à-jour Up-To-Dates des procédures gouvernementales ?                                          <br><br>
        - Tu recherches les services d'accueil disponibles tels que l'hébergement, le transport, les services de santé, les installations sportives ?           <br><br> 
        - Tu recherches à faire des activités culturelles, retrouver des amis, connecter avec d'autres étudiants, des ressources locales de la région ?         <br><br>
        - C'est quoi les magasins oèu on peut acheter de la nourriture ? des vêtements ? des accéssoires à bas prix propice à ton budget étudiant ?             <br><br>
        - Yooo ! les maths c'est dûr, y-a-t-il des petites séances de mises-èa niveau ?                                                                         <br><br>
        - Moodle :( c'est quoi ce truc ? j'ai aucune idée comment ça fonctionne...                                                                              <br><br>
        - Je me recherche un petit boulot pour subvenir à mes petits besoins...  
        - Et d'autres questions de survie ?                                                                                                                 <br><br>

        Si tu te poses une de ces questions, tu as ces préoccupations, ce site est fait pour toi. Viens et Enjoy !                                               <br>
    </div><br><br>

{% endblock %}

        

        