{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section"> PAR OÙ COMMENCER ? C'EST QUOI LE PARCOURS. QUELQUES EXEMPLES</p>
        <div class="text-service-aide">
            Répertoire de <a href="https://international.uqac.ca/etudier-a-luqac/faq-immigration/#:~:text=Oui%2C%20voir%20le%20site%20d,s'agit%20du%3A%20O19359011122">Questions Fréquemment Posées</a> à l'UQAC.<br><br>
            
            <b> Pour votre plus grand bonheur </b>, nous interogerons des étudiants dans différentes disciplines, 
            provenants de différents pays, avec différentes situations les uns des autres, 
            pour nous parler de leur vécu, de leurs parcours, de leurs procedures.  <br>
            Vidéos à venir... <br>

            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/H8fqNmB0lPg?si=NZ5U9CM843QVrSQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>

            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/E59TJENrWzs?si=SYpKn1yNExjvjrV5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><br>

            <div class="cadre_video_interieur-text-service-aide">
                <iframe src="https://www.youtube.com/embed/nn_rM7wsIfM?si=O7vxJAOgB3bCzwXS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            
        </div><br><br><br><br>

{% endblock %}

        
		
       