{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section"> QUI SOMMES NOUS </p>
        
        <div class="text-service-aide">
            ORE MI est pensé en 2023, par des étudiants de la région du Saguenay Lac Saint-Jean. 
            Ce sont 2 étudiants au département d'informatique (voir pieds de page), 
            conseilés par leur ainé dans le domaine de la tech, auxquels se sont joints 
            des étudiants de d'autres départements et centres de formation. <br><br>
            
            Tous d'origines diverses, nous sommes ici, une véritable famille. 
            Nous sommes comme des frères et soeurs, venus ici dans le même objectif : <br><br>
            
            Acquérir une formation disciplinaire. <br><br>

        </div><br><br><br>

{% endblock %}
        
        
