{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section"> GÉNÉRALITÉS </p>

        <div class="text-service-aide">
            Ministère de la santé et des services sociaux, <a href="https://www.msss.gouv.qc.ca/">liens fréquemment consultés</a>. Regardez le menu, ainsi que le petite liste à droite. <br><br>
            
            <a href="https://sante.gouv.qc.ca/repertoire-ressources/">Trouvez une ressource</a> en Santé et services sociaux. <br><br>
        
            Quelques <a href="https://www.msss.gouv.qc.ca/reseau/repertoires/">répertoires pertinents</a> du réseau de service santé.<br><br>
            
            Recherche d'<a href="https://m02.pub.msss.rtss.qc.ca/">informations, de répertoires et d'aides</a>.<br>

        </div><br><br><br>

{% endblock %}
                       
        
