{% extends "base_2.html" %}

{% block content %}
		
        <p class="sous_section"> GÉNÉRALITÉS </p>
		
        <div class="text-service-aide">
            Voici un lien gouvernemental ( du Quebec ) vers des formations professionnelles [ <a href="https://www.cssdm.gouv.qc.ca/formation-adultes/eleve-international-formation-professionnelle/">https://www.cssdm.gouv.qc.ca/formation-adultes/eleve-international-formation-professionnelle/</a> ] <br><br> 
            
            Voici les liens qui vous donne accès à tous les noms de programmes d’étude donnés selon l'universite : <br><br> 
            
            <table>
                <tr>
                    <th> Acronyme </th>
                    <th> Nom de l'Université </th>
                    <th> Liste complète des programmes d'étude </th>
                </tr>
                <tr>
                    <td> l’UQAC</td>
                    <td> Université du Québec à Chicoutimi </td>
                    <td><a href="https://www.uqac.ca/programmes/"> https://www.uqac.ca/programmes/ </a></td>
                </tr>
                <tr>
                    <td> l’UQAT</td>  
                    <td> Université du Québec en Abitibi-Timescaming </td>
                    <td><a href="https://www.uqat.ca/etudes/"> https://www.uqat.ca/etudes/ </a></tr>
                </tr>
                <tr>
                    <td> l’UQTR</td>
                    <td> Université du Québec à Trois-Rivière </td>
                    <td><a href="https://oraprdnt.uqtr.uquebec.ca/pls/apex/f?p=106:1"> https://oraprdnt.uqtr.uquebec.ca/pls/apex/f?p=106:1 </a></td>            
                </tr>
                <tr>
                    <td> UQAR </td>
                    <td> Université du Québec à Rimouski </td>
                    <td><a href="https://oraprdnt.uqtr.uquebec.ca/pls/apex/f?p=106:1"> https://www.uqar.ca/etudes/etudier-a-l-uqar/programmes-d-etudes  </a></td>           
                </tr>
                <tr>
                    <td> ÉNAP </td>
                    <td> École Nationale d'Administration Publique </td>
                    <td><a href="https://oraprdnt.uqtr.uquebec.ca/pls/apex/f?p=106:1"> https://enap.ca/formation/explorez-offres-formation </a></td>         
                </tr>
                <tr>
                    <td> INRS </td>
                    <td> Institut Nationale de la Recherche Scientifique </td>
                    <td><a href="https://oraprdnt.uqtr.uquebec.ca/pls/apex/f?p=106:1"> https://inrs.ca/les-etudes/programmes-d-etudes/ </a></td>      
                </tr>
                <tr>
                    <td> ULaval </td>
                    <td> l’Université Laval </td>
                    <td><a href="https://oraprdnt.uqtr.uquebec.ca/pls/apex/f?p=106:1"> https://www.ulaval.ca/etudes/programmes </a></td>                                 
                </tr>
                <tr>
                    <td> BU </td>
                    <td> l’Université Bishop </td>
                    <td><a href="https://www.ubishops.ca/fr/programmes-d-etudes/"> https://www.ubishops.ca/fr/programmes-d-etudes/ </a></td>                         
                </tr>
                <tr>
                    <td> UdS </td>
                    <td> Université de Sherbrooke </td>
                    <td><a href="https://www.usherbrooke.ca/admission/"> https://www.usherbrooke.ca/admission/ </a></td>                               
                </tr>
                <tr>
                    <td> HEC </td>
                    <td> Hautes Études Commerciales de Montréal </td>
                    <td><a href="https://www.hec.ca/programmes/index.html"> https://www.hec.ca/programmes/index.html </a></td>            
                </tr>
                <tr>
                    <td> ETS </td>
                    <td> École de Technologies Supérieures </td>
                    <td><a href="https://www.etsmtl.ca/"> https://www.etsmtl.ca/ </a></td>                       
                </tr>
                <tr>
                    <td> Polytech </td>
                    <td> L’École Polytechnique de Montréal </td>
                    <td><a href="https://www.polymtl.ca/programmes/"> https://www.polymtl.ca/programmes/ </a></td>                
                </tr>
                <tr>
                    <td> Concordia </td>
                    <td> Université Guy Concordia </td>
                    <td><a href="https://www.concordia.ca/fr/etudes.html"> https://www.concordia.ca/fr/etudes.html </a></td>                         
                </tr>
                <tr>
                    <td> UdeM </td>
                    <td> l'Université de Montréal </td>
                    <td><a href="https://admission.umontreal.ca/programmes-detudes/"> https://admission.umontreal.ca/programmes-detudes/ </a></td>                               
                </tr>
                <tr>
                    <td> McGill </td>
                    <td> l'Université McGill </td>
                    <td><a href="https://www.mcgill.ca/admissions/fr"> https://www.mcgill.ca/admissions/fr </a></td>                                 
                </tr>
                <tr>
                    <td> UQAM </td>
                    <td> l'Université du Québec À Montréal </td>
                    <td><a href="https://etudier.uqam.ca/programmes"> https://etudier.uqam.ca/programmes </a></td>                  
                </tr>
                <tr>
                    <td> UQO </td>
                    <td> l'Université du Québec en Outaouais </td>
                    <td><a href="https://uqo.ca/futurs-etudiants"> https://uqo.ca/futurs-etudiants </a></td>                  
                </tr>
                <tr>
                    <td> TÉLUQ </td>
                    <td> Université  ( À DISTANCE ) </td>
                    <td><a href="https://www.teluq.ca/site/etudes/static/programmes.html"> https://www.teluq.ca/site/etudes/static/programmes.html </a></td>                        
                </tr>
            </table>

        </div><br><br><br>
        
{% endblock %}