{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section"> GÉNÉRALITÉS </p>
        <div class="text-service-aide">
            Liste de toutes les bourses offertes dans l’ensemble des universités du Québec: <br><br>
            <table>
                <tr>
                    <th> Acronyme </th>
                    <th> Nom de l'Université </th>
                    <th> Liste complète des bourses d'études </th>
                </tr>
                <tr>
                    <td> UQAC </td>
                    <td> l'Université du Québec À Chicoutimi </td>
                    <td><a href="https://sae.uqac.ca/bourses-detudes/#etudiants-internationaux"> https://sae.uqac.ca/bourses-detudes/#etudiants-internationaux </a></td>
                </tr>
                <tr>
                    <td> UQAT </td>
                    <td> l'Université du Québec en Abitibi-Timescaming </td>
                    <td><a href="https://www.uqat.ca/chercher/google.asp?cx=015396279462818091900%3Anwxskln9hya&cof=FORID%3A11&ie=UTF-8&q=BOURSES"> https://www.uqat.ca/chercher/google.asp?cx=015396279462818091900%3Anwxskln9hya&cof=FORID%3A11&ie=UTF-8&q=BOURSES </a></td>
                </tr>    
                <tr>
                    <td> UQAR </td>
                    <td> l'Université du Québec à Rimouski </td>
                    <td><a href="https://www.uqar.ca/rechercher?q=bourse"> https://www.uqar.ca/rechercher?q=bourse </a></td>
                </tr>        
                <tr>
                    <td> ÉNAP </td>
                    <td> l'École Nationale d'Administration Publique </td>
                    <td> <a href="https://enap.ca/cherchez"> https://enap.ca/cherchez </a>(écrivez bourse dans la barre de recherche) </td>
                </tr>         
                <tr>
                    <td> INRS </td>
                    <td> l'Institut National de la Recherche Scientifique </td>
                    <td> <a href="https://inrs.ca/recherche?addsearch=bourse">https://inrs.ca/recherche?addsearch=bourse </a></td>
                </tr>
                <tr>
                    <td> ULaval </td>
                    <td> l'Université laval </td>
                    <td><a href="https://www.ulaval.ca/chercher/google?search-type=website&q=bourse"> https://www.ulaval.ca/chercher/google?search-type=website&q=bourse </a></td>
                </tr>
                <tr>
                    <td> UB </td>
                    <td> l'Université Bishop </td>
                    <td><a href="https://www.ubishops.ca/search-results/?q=bourse"> https://www.ubishops.ca/search-results/?q=bourse </a></td>
                </tr>
                <tr>
                    <td> UdeS </td>
                    <td> l'Université de Sherbrooke </td>
                    <td><a href="https://www.usherbrooke.ca/chercher/?q=Bourse#gsc.tab=0&gsc.q=Bourse&gsc.page=1"> https://www.usherbrooke.ca/chercher/?q=Bourse#gsc.tab=0&gsc.q=Bourse&gsc.page=1 </a></td>
                </tr>
                <tr>
                    <td> UQTR </td>
                    <td> l'Université du Québec à Trois-Rivières </td>
                    <td><a href="https://www.uqtr.ca/resultats-recherche.shtml?q=bourse"> https://www.uqtr.ca/resultats-recherche.shtml?q=bourse </a></td>
                </tr>
                <tr>
                    <td> HEC Montréal </td>
                    <td> Hautes Études Coerciales de Montréal </td>
                    <td><a href="https://www.hec.ca/resultat/resultats-recherche-mots-cles.html?q=bourse&client=default_collection#gsc.tab=0&gsc.q=bourse&gsc.page=1"> https://www.hec.ca/resultat/resultats-recherche-mots-cles.html?q=bourse&client=default_collection#gsc.tab=0&gsc.q=bourse&gsc.page=1 </a></td>
                </tr>
                <tr>
                    <td> ETS </td>
                    <td> l'École de Technologie Supérieur </td>
                    <td><a href="https://www.etsmtl.ca/"> https://www.etsmtl.ca/ (entrer bourse dans la barre de recherche) </a></td>
                </tr>
                <tr>
                    <td> Polytech </td>
                    <td> l’École Polytechnique de Montréal </td>
                    <td><a href="https://www.polymtl.ca/rechercheg/bourse?"> https://www.polymtl.ca/rechercheg/bourse? </a></td>
                </tr>
                <tr>
                    <td> UConcordia </td>
                    <td> l’Université Guy Concordia </td>
                    <td><a href="https://www.concordia.ca/search.html?search-mode=concordia-search&q=bourse#gsc.tab=0&gsc.q=bourse&gsc.page=1"> https://www.concordia.ca/search.html?search-mode=concordia-search&q=bourse#gsc.tab=0&gsc.q=bourse&gsc.page=1 </td>
                </tr>
                <tr>
                    <td> UdeM </td>
                    <td> l'Université de Montréal </td>
                    <td><a href="https://www.umontreal.ca/#udemwww-search-sites&gsc.tab=0&gsc.q=bourse"> https://www.umontreal.ca/#udemwww-search-sites&gsc.tab=0&gsc.q=bourse </a></td>
                </tr>
                <tr>
                    <td> McGill </td>
                    <td> l’Université McGill </td>
                    <td><a href="https://www.mcgill.ca/search/fr?query=bourse"> https://www.mcgill.ca/search/fr?query=bourse </td>
                </tr>
                <tr>
                    <td> UQAM </td>
                    <td> l'Université du Québec À Montréal </td>
                    <td><a href="https://uqam.ca/recherche/?q=bourse"> https://uqam.ca/recherche/?q=bourse </td>
                </tr>
                <tr>
                    <td> UQO </td>
                    <td> l'Université du Québec en Outaouais </td>
                    <td><a href="https://uqo.ca/search/google?keys=bourse&op=Rechercher#gsc.tab=0&gsc.q=bourse&gsc.page=1"> https://uqo.ca/search/google?keys=bourse&op=Rechercher#gsc.tab=0&gsc.q=bourse&gsc.page=1 </a></td>
                </tr>
                <tr>
                    <td> TÉLUQ </td>
                    <td> Université  ( À DISTANCE ) </td>
                    <td><a href="https://www.teluq.ca/site/chercher/?q=bourse&x=0&y=0"> https://www.teluq.ca/site/chercher/?q=bourse&x=0&y=0 </a></td>
                </tr>
            </table>   

        </div><br><br><br>

{% endblock %}