{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section"> LISTE COMPLÈTE DES UNIVERSITÉS </p>

        <div class="text-service-aide">
            Voici la liste complète des établissements universitaires du Québec : 

            <a href="https://www.quebec.ca/education/universite/etudier/liste-universites">https://www.quebec.ca/education/universite/etudier/liste-universites</a> <br><br>

            Et voici aussi les emplacenments sur la carte géographie du Québec pour voir leurs localisations <br><br>

            <div class="flex_cadre_video_interieur-text-service-aide">
				<div class="cadre_video_1">
					<img src="img\trouver_son_etablissement/trouver_son_etablissement_2.png" title="Aller sur le Radio-Canada pour plus d'informations"/> 
				</div>
            </div><br><br> 

            <p class="sous_section"> VOIR SUR GOOGLE MAP <br> ( clickez sur le plan ) </p>
            <div class="text-service-aide">
                <iframe class="cadre_video_1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2648.024040757527!2d-71.05486952389977!3d48.41768277127579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc020b605bb7d3b%3A0xa610b1add725fa8e!2sUniversit%C3%A9%20du%20Qu%C3%A9bec%20%C3%A0%20Chicoutimi!5e0!3m2!1sfr!2sca!4v1722913000789!5m2!1sfr!2sca" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><br>

        </div><br><br><br>    
        
{% endblock %}