{% extends "base_2.html" %}

{% block content %}
        
        <p class="sous_section"> LE VISA </p>
		<div class="text-service-aide">  
			
        <b>Visa de résident temporaire (VRT / TRV) ou AVE (eTA)</b><br>
        En plus du permis d’études, vous devez possiblement un <b>document d’entrée</b> pour voyager au Canada&nbsp;: un <b>visa (TRV)</b> ou une <b>autorisation de voyage électronique (eTA)</b>. Le type requis dépend de votre nationalité. <br>
        
        <ul>
            <li> Vérifier ce qu’il vous faut&nbsp;: <a href="https://www.ircc.canada.ca/english/helpcentre/answer.asp?qnum=523&top=15" target="_blank" rel="noopener">Ai‑je besoin d’un eTA ou d’un visa pour étudier&nbsp;?</a></li>
            <li> Trouver l’exigence selon votre passeport&nbsp;: <a href="https://www.ircc.canada.ca/english/visit/visas.asp" target="_blank" rel="noopener">IRCC&nbsp;: visa ou eTA</a></li>
        </ul>
        
        <i>Note :</i> si vous déposez une <b>première</b> demande de permis d’études depuis l’étranger, l’<b>eTA ou le TRV</b> est <b>généralement traité automatiquement</b> avec votre demande, s’il est requis.

		</div><br><br><br>

{% endblock %}