{% extends "base_2.html" %}

{% block content %}

        <p class="sous_section"> GÉNÉRALITÉS </p>
        
        <div class="text-service-aide">
            <a href="{{ url_for('culture_regionale') }}" title="">Culture Régionale</a> : Les us et coutumes de la culture québécoise, le langage, la gastronomie à découvrir. <br><br>
            <a href="{{ url_for('gestion_des_saisons') }}" title="">Gestion des Saisons</a> : Où trouver les activités en fonction des saisons, etc... <br><br>
            <a href="{{ url_for('ou_magasiner') }}" title="">Oèu Magasiner</a> : Où trouver des vêtements, faire son épicerie, se procurer des accéssoires, ... <br>
        </div><br><br>

{% endblock %}
        
        
        