{% extends "base_2.html" %}

{% block content %}

		<div class="limite-video">
			<!--- Musique et Nature --->
			<div class="text-service-aide">
               
                <b>ORE MI,</b> c'est un projet communautaire, destiné premièrement aux étudiants intenationaux, étudiants visiteurs, étudiants pour des brèves sessions, leur permettant de se sentir ici chez eux. <br>
				Il y a plusieurs rubriques selon les questions qui vous preoccupent. <br>
				Nous voulons récupérer certaines statistiques d'utilisation, et améliorer votre expérience lors de vos prochaines visites. 
				Pour celà nous avons mis un formulaire en votre disposition pour que vous nous fassiez par de votre expérience. Sans plus tarder, cliquez ci-dessous, et vous accederez au formulaire.
				
				<br><br>

				<div>
					<a href="#">Formulaire de satisfaction</a>
				</div>

			</div>
		</div><br><br><br>

{% endblock %}